<header mat-dialog-title>
  <h1 i18n="heading">Set microphone level</h1>
</header>

<mat-dialog-content>
  <div class="slider-container">
    <mat-slider min="0" max="100" step="1" color="primary" thumbLabel
      ><input #slider matSliderThumb [value]="data.microphoneLevel ?? 50"
    /></mat-slider>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button
    mat-flat-button
    color="primary"
    [mat-dialog-close]="slider.value"
    i18n="button name"
  >
    Confirm
  </button>
  <button mat-button mat-dialog-close i18n="button name">Cancel</button>
</mat-dialog-actions>
