<header mat-dialog-title>
  <h1 i18n="page header">Create reservation</h1>
</header>

<mat-dialog-content class="custom-scrollbar">
  <div [hidden]="creating$ | async">
    <!-- Reservation form component host -->
    <div appComponentHost></div>
  </div>

  <!-- Creating display -->
  <div class="creating-container" *ngIf="creating$ | async">
    <mat-progress-spinner
      mode="indeterminate"
      color="primary"></mat-progress-spinner>
    <b i18n="loading text">Creating reservation request</b>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close i18n="button name">Close</button>
  <button
    mat-flat-button
    color="primary"
    (click)="createReservationRequest()"
    [disabled]="!formComponent || !formComponent.valid"
    i18n="button name">
    Create
  </button>
</mat-dialog-actions>
