<div class="reservation">
  <mat-toolbar class="reservation__toolbar">
    <mat-toolbar-row
      class="reservation__toolbar-row reservation__toolbar-row--main"
    >
      <!-- Toolbar left -->
      <div class="reservation__toolbar-row-left">
        <!-- Burger menu icon -->
        <button
          mat-icon-button
          (click)="drawer.toggle()"
          aria-label="Toggle side drawer"
          i18n-aria-label="button name"
        >
          <mat-icon>menu</mat-icon>
        </button>

        <!-- Link to home page  -->
        <app-back-button class="reservation__back"></app-back-button>

        <!-- Calendar view selection -->
        <app-calendar-view-selection
          *ngIf="(isTabletSize$ | async) === false"
          [selectedView]="calendar.view"
          (viewSelected)="calendar.view = $event"
        ></app-calendar-view-selection>

        <!-- Calendar paginator -->
        <app-calendar-paginator
          [view]="calendar.view"
          [viewDate]="calendar.viewDate"
          (viewDateChange)="calendar.viewDate = $event"
        ></app-calendar-paginator>

        <!-- Current view date -->
        <h1 class="reservation__date-header reservation__date-header--main">
          {{ calendar.viewDate | calendarDate : calendar.view + 'ViewTitle' }}
        </h1>
      </div>

      <!-- Toolbar right -->
      <div class="reservation__toolbar-row-right">
        <!-- Account menu -->
        <app-account-menu></app-account-menu>
      </div>
    </mat-toolbar-row>

    <!-- Second toolbar row for mobile view -->
    <mat-toolbar-row
      class="reservation__toolbar-row reservation__toolbar-row--mobile"
    >
      <h1 class="reservation__date-header reservation__date-header--mobile">
        {{ calendar.viewDate | calendarDate : calendar.view + 'ViewTitle' }}
      </h1>
    </mat-toolbar-row>
  </mat-toolbar>

  <!-- Sidebar drawer -->
  <mat-drawer-container class="reservation__main" [autosize]="true">
    <mat-drawer
      #drawer
      [mode]="(isTabletSize$ | async) ? 'over' : 'side'"
      opened
      class="reservation__sidebar"
    >
      <!-- Mobile only section -->
      <section class="reservation__mobile-sidebar">
        <app-back-button></app-back-button>
        <app-jump-to-date
          (dateSelected)="onDateSelection($event)"
        ></app-jump-to-date>
      </section>

      <app-calendar-sidebar
        [calendar]="calendar"
        [selectedResource]="selectedResource"
        [selectedSlot]="selectedSlot"
        [parentReservationRequest]="parentReservationRequest"
        [parentRequestError]="parentRequestError"
        [capacityBookingMode]="capacityBookingMode"
        [loadingParentRequest]="(loadingParentRequest$ | async) ?? false"
        (reloadParentRequest)="retryLoadingParentRequest()"
        (selectedResourceChange)="onSelectedResourceChange($event)"
        (displayedResourcesChange)="onDisplayedResourcesChange($event)"
      ></app-calendar-sidebar>
    </mat-drawer>

    <!-- Main content -->
    <mat-drawer-content>
      <!-- Reservation alendar -->
      <shongo-calendar
        #calendar
        (loadData)="onIntervalChange($event)"
        (slotSelected)="selectedSlot = $event"
        [allowSlotSelection]="true"
        (itemClicked)="onItemClick($event)"
        [items]="(calendarRequest$ | async)!.data"
        [loading]="(calendarRequest$ | async)!.state === ERequestState.LOADING"
        [currentUser]="currentUser"
      ></shongo-calendar>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
