<div
  class="reservation"
  *ngIf="(resourceService.loading$ | async) === false; else loadingResources"
>
  <mat-toolbar class="reservation__toolbar">
    <mat-toolbar-row
      class="reservation__toolbar-row reservation__toolbar-row--main"
    >
      <!-- Toolbar left -->
      <div class="reservation__toolbar-row-left">
        <button
          mat-icon-button
          (click)="drawer.toggle()"
          aria-label="Toggle side drawer"
        >
          <mat-icon>menu</mat-icon>
        </button>

        <a
          mat-stroked-button
          aria-label="Go back to app"
          routerLink="/"
          class="reservation__back reservation__back--navbar"
        >
          <mat-icon>arrow_back</mat-icon>&nbsp;Back to app
        </a>

        <app-calendar-view-selection
          class="reservation__view-selection"
          [selectedView]="calendar.view"
          (viewSelected)="calendar.view = $event"
        ></app-calendar-view-selection>

        <app-calendar-paginator
          [view]="calendar.view"
          [viewDate]="calendar.viewDate"
          (viewDateChange)="calendar.viewDate = $event"
        ></app-calendar-paginator>

        <h1 class="reservation__date-header reservation__date-header--main">
          {{ calendar.viewDate | calendarDate: calendar.view + "ViewTitle" }}
        </h1>
      </div>

      <!-- Toolbar right -->
      <div class="reservation__toolbar-row-right">
        <app-account-menu></app-account-menu>
      </div>
    </mat-toolbar-row>

    <mat-toolbar-row
      class="reservation__toolbar-row reservation__toolbar-row--mobile"
    >
      <h1 class="reservation__date-header reservation__date-header--mobile">
        {{ calendar.viewDate | calendarDate: calendar.view + "ViewTitle" }}
      </h1>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-drawer-container class="reservation__main" [autosize]="true">
    <mat-drawer #drawer [mode]="showSidebarOver ? 'over' : 'side'" opened>
      <div class="sidebar">
        <section class="sidebar__section sidebar__section--mobile">
          <a
            mat-stroked-button
            aria-label="Go back to app"
            routerLink="/"
            class="reservation__back reservation__back--sidebar"
          >
            <mat-icon>arrow_back</mat-icon>&nbsp;Back to app
          </a>

          <div class="jump-to-date">
            <button
              mat-stroked-button
              (click)="picker.open()"
              class="jump-to-date__button"
            >
              <mat-icon>event</mat-icon>&nbsp;Jump to date
            </button>
            <input
              type="date"
              class="jump-to-date__input"
              [matDatepicker]="picker"
              (dateInput)="onDateSelection($event.value)"
            />
            <mat-datepicker #picker></mat-datepicker>
          </div>
        </section>

        <section
          class="sidebar__section sidebar__section--form-field-padded"
          *ngIf="!capacityBookingMode; else capacityBookingSection"
        >
          <h2 class="sidebar__heading">Resource selection</h2>
          <app-resource-selection-form
            (resourceChange)="selectedResource = $event"
          ></app-resource-selection-form>
        </section>

        <ng-template #capacityBookingSection>
          <section class="sidebar__section">
            <ng-container
              *ngIf="parentReservationRequest; else loadingParentOrError"
            >
              <h2 class="sidebar__heading">Reserving capacity for</h2>
              <div>
                <a
                  class="mat-primary-color"
                  [routerLink]="
                    '/reservation-request/' + parentReservationRequest.id
                  "
                  >{{
                    parentReservationRequest.virtualRoomData?.roomName ??
                      parentReservationRequest.id
                  }}</a
                >
              </div>
            </ng-container>
          </section>

          <!-- Loading or error -->
          <ng-template #loadingParentOrError>
            <ng-container
              *ngTemplateOutlet="
                (loadingParentRequest$ | async) ? loadingParent : parentError
              "
            ></ng-container>
          </ng-template>

          <!-- Loading display -->
          <ng-template #loadingParent>
            <div class="loading">
              <mat-progress-spinner
                diameter="70"
                mode="indeterminate"
                color="primary"
              ></mat-progress-spinner>
              <span>Loading parent request</span>
            </div>
          </ng-template>

          <!-- Error display -->
          <ng-template #parentError>
            <ng-container
              *ngTemplateOutlet="
                parentPropertyErrorOccured()
                  ? parentPropertyError
                  : loadingParentError
              "
            >
            </ng-container>
          </ng-template>

          <ng-template #loadingParentError>
            <div class="sidebar__loading-error">
              <div class="sidebar__error-container">
                <app-alert
                  [type]="AlertType.ERROR"
                  message="Failed to load parent request"
                  [showCloseButton]="false"
                  [isActive]="true"
                ></app-alert>
              </div>
              <button
                mat-flat-button
                color="primary"
                (click)="retryLoadingParentRequest()"
              >
                Try again
              </button>
            </div>
          </ng-template>

          <ng-template #parentPropertyError>
            <div class="sidebar__loading-error">
              <div class="sidebar__error-container">
                <app-alert
                  [type]="AlertType.ERROR"
                  [isActive]="true"
                  [showCloseButton]="false"
                  [message]="parentRequestError!.message"
                ></app-alert>
              </div>
            </div>
          </ng-template>
        </ng-template>

        <section class="sidebar__section">
          <h2 class="sidebar__heading">Calendar settings</h2>
          <mat-checkbox
            color="primary"
            (change)="calendar.highlightUsersReservations = $event.checked"
            >Highlight mine</mat-checkbox
          >
        </section>

        <section
          class="sidebar__section"
          *ngIf="selectedResource && selectedSlot"
        >
          <h2 class="sidebar__heading">Reservation slot</h2>

          <div class="sidebar__slot">
            <div
              class="sidebar__slot-part"
              *ngIf="selectedSlot && selectedSlot.start"
            >
              <div><b class="sidebar__slot-part-name">Slot start:</b></div>
              <div class="sidebar__slot-part-value">
                {{ selectedSlot.start | momentDate: "LLL" }}
              </div>
            </div>

            <div
              class="sidebar__slot-part"
              *ngIf="selectedSlot && selectedSlot.end"
            >
              <div><b class="sidebar__slot-part-name">Slot end:</b></div>
              <div class="sidebar__slot-part-value">
                {{ selectedSlot.end | momentDate: "LLL" }}
              </div>
            </div>
          </div>

          <div class="sidebar__buttons">
            <button
              mat-flat-button
              color="primary"
              class="sidebar__button"
              (click)="openReservationDialog()"
            >
              Create reservation
            </button>

            <button
              mat-flat-button
              class="sidebar__button"
              color="warn"
              (click)="calendar.clearSelectedSlot()"
            >
              Cancel selection
            </button>
          </div>
        </section>
      </div>
    </mat-drawer>
    <mat-drawer-content class="reservation__content">
      <app-reservation-calendar
        #calendar
        class="reservation__calendar fullscreen-calendar"
        [allowSlotSelection]="true"
        [selectedResourceId]="selectedResource?.id"
        (slotSelected)="selectedSlot = $event"
      ></app-reservation-calendar>
    </mat-drawer-content>
  </mat-drawer-container>
</div>

<ng-template #loadingResources>
  <div class="loading loading--fullscreen">
    <h1>Loading resources</h1>
    <mat-progress-spinner
      color="primary"
      mode="indeterminate"
    ></mat-progress-spinner>
  </div>
</ng-template>
