// Based on form field padding + margin.
$section-margin: 1.34375em + 0.25em;

.reservation {
  height: 100vh;

  &__toolbar-row {
    &--main {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &-left,
    &-right {
      height: 100%;
      display: flex;
      align-items: center;
      gap: 1em;
    }
  }

  &__toolbar-row--mobile {
    display: none;
  }

  &__main {
    height: calc(100vh - var(--toolbar-row-height));
  }

  &__calendar {
    height: 100%;
  }

  &__back {
    &--sidebar {
      display: none;
    }
  }

  &__date-header {
    &--mobile {
      font-size: var(--font-size-medium);
    }
  }
}

.sidebar {
  border: 0;
  padding: 1rem;

  &__heading {
    font-size: var(--font-size-regular);
  }

  &__section {
    margin-bottom: $section-margin;

    &--form-field-padded {
      margin-bottom: 0;
    }

    &--mobile {
      display: none;
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    margin-top: 1em;
  }

  &__slot {
    &-part {
      margin-bottom: 0.5em;
      line-height: 1.5em;
    }
  }

  &__loading-error {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  &__error-container {
    width: clamp(15ch, 20vw, 30ch);
  }
}

.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  &--fullscreen {
    height: 100vh;
    width: 100%;
  }
}

mat-drawer {
  border: 0;
}

.jump-to-date {
  display: none;

  &__input {
    visibility: hidden;
    width: 0;
    height: 0;
  }
}

@media only screen and (max-width: 1024px) {
  .reservation {
    &__view-selection {
      display: none;
    }
    &__back {
      &--sidebar {
        display: block;
      }
      &--navbar {
        display: none;
      }
    }
  }
  .jump-to-date {
    display: block;

    &__button {
      width: 100%;
    }
  }
  .sidebar {
    &__section {
      &--mobile {
        display: flex;
        flex-direction: column;
        gap: 1em;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .reservation {
    &__date-header--main {
      display: none;
    }
    &__main {
      height: calc(100vh - 2 * var(--toolbar-row-height));
    }
    &__toolbar-row--mobile {
      display: flex;
    }
  }
}
