@import '/src/app/styles/static-variables';

.reservation {
  height: 100vh;

  &__toolbar-row {
    &--main {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &-left,
    &-right {
      height: 100%;
      display: flex;
      align-items: center;
      gap: 1em;
    }
  }

  &__toolbar-row--mobile {
    display: none;
  }

  &__main {
    height: calc(100vh - var(--toolbar-row-height));
  }

  &__calendar {
    height: 100%;
  }

  &__date-header {
    font-size: var(--font-size-medium);
  }
}

.time-setting {
  display: flex;
  gap: 0.2em;

  &__button {
    background: var(--gray-800);
    border: none;
    border-radius: 10px;
    padding: 0;

    &:hover {
      background: var(--gray-700);
      cursor: pointer;
    }
  }
}

.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  &--fullscreen {
    height: 100vh;
    width: 100%;
  }
}

mat-drawer {
  border: 0;
}

@media only screen and (max-width: $breakpoint-m) {
  .reservation {
    &__back {
      display: none;
    }
  }
}

@media only screen and (max-width: $breakpoint-s) {
  .reservation {
    &__date-header--main {
      display: none;
    }
    &__main {
      height: calc(100vh - 2 * var(--toolbar-row-height));
    }
    &__toolbar-row--mobile {
      display: flex;
    }
  }
}
