header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 0.5rem;
  gap: 1em;

  h2 {
    margin: 0;
  }
}

.active-recording {
  color: var(--gray-300);
  font-size: 0.7em;
  white-space: nowrap;
}
.red-circle {
  height: 1em;
  width: 1em;
  background-color: var(--red-500);
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
}
