<header>
  <h2 class="mat-primary-color">
    <span i18n="heading">Room recordings</span>
    &nbsp;
    <span
      *ngIf="reservationRequest.roomCapacityData?.isRecordingActive"
      class="active-recording"
      >(&nbsp;<span class="red-circle"></span>&nbsp;<span i18n="text"
        >Recording active</span
      >&nbsp;)</span
    >
  </h2>

  <ng-container
    *ngIf="
      reservationRequest.type === ReservationType.ROOM_CAPACITY &&
      !reservationRequest.futureSlotCount
    "
    [ngTemplateOutlet]="recordingButton"></ng-container>
</header>

<main>
  <app-data-table
    [showCheckboxes]="false"
    [showDeleteButtons]="false"
    [dataSource]="roomRecordingDataSource"
    description="List of recordings for this room."
    i18n-description="table description"></app-data-table>
</main>

<ng-template #recordingButton>
  <ng-container
    *ngIf="(settingRecording$ | async) === false; else settingRecording">
    <button
      mat-button
      aria-labelledby="stop-recording-btn-name"
      (click)="setRecording(false)"
      [disabled]="
        reservationRequest.state !== ReservationRequestState.ALLOCATED_STARTED
      "
      *ngIf="
        reservationRequest.roomCapacityData?.isRecordingActive;
        else startRecord
      ">
      <mat-icon color="primary">videocam_off</mat-icon>&nbsp;<span
        i18n="button name"
        id="stop-recording-btn-name"
        >Stop recording</span
      >
    </button>
  </ng-container>
</ng-template>

<ng-template #settingRecording>
  <app-loading-text></app-loading-text>
</ng-template>

<ng-template #startRecord>
  <button
    mat-button
    aria-labelledby="start-recording-btn-name"
    (click)="setRecording(true)"
    [disabled]="reservationRequest.executableState !== ExecutableState.STARTED">
    <mat-icon color="primary">videocam</mat-icon>&nbsp;<span
      i18n="button name"
      id="start-recording-btn-name"
      >Start recording</span
    >
  </button>
</ng-template>
