<form [formGroup]="form" class="form">
  <div class="form__left">
    <h2 i18n="heading">Reservation data</h2>

    <!-- Room name field -->
    <mat-form-field
      appearance="outline"
      class="form__field"
      *ngIf="!editingMode"
    >
      <mat-label i18n="field label">Room name</mat-label>
      <input type="text" matInput formControlName="roomName" />
      <mat-error
        *ngIf="
          getFormError(form.get('roomName')!, roomNameErrorHandler) as error
        "
        >{{ error }}</mat-error
      >
    </mat-form-field>

    <!-- Description field -->
    <mat-form-field appearance="outline" class="form__field">
      <mat-label i18n="field label">Description</mat-label>
      <input type="text" matInput formControlName="description" />
      <mat-error
        *ngIf="
          getFormError(
            form.get('description')!,
            descriptionErrorHandler
          ) as error
        "
        >{{ error }}</mat-error
      >
    </mat-form-field>

    <!-- Participant count field -->
    <mat-form-field appearance="outline" class="form__field">
      <mat-label i18n="field label">Participant count</mat-label>
      <input type="number" matInput formControlName="participantCount" />
      <mat-error *ngIf="getFormError(form.get('participantCount')!) as error">{{
        error
      }}</mat-error>
    </mat-form-field>

    <!-- Time zone field -->
    <mat-form-field appearance="outline" class="form__field">
      <mat-label i18n="field label">Time zone</mat-label>
      <mat-select formControlName="timezone">
        <mat-option>
          <ngx-mat-select-search
            appTimezoneSearch
            #timezoneSarch="timezoneSearch"
          ></ngx-mat-select-search>
        </mat-option>
        <mat-option
          *ngFor="let opt of timezoneSarch.filteredTimezones | async"
          [value]="opt.timezone"
        >
          {{ opt.label }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="getFormError(form.get('timezone')!) as error">{{
        error
      }}</mat-error>
    </mat-form-field>

    <!-- Admin pin field -->
    <mat-form-field appearance="outline" class="form__field">
      <mat-label i18n="field label">User PIN</mat-label>
      <input type="text" matInput formControlName="userPin" />
      <mat-error
        *ngIf="getFormError(form.get('userPin')!, pinErrorHandler) as error"
        >{{ error }}</mat-error
      >
    </mat-form-field>

    <!-- Access mode radio group -->
    <ng-container *ngIf="!editedRequest">
      <label id="access-mode-group-label" class="form__label" i18n="label"
        >Room access mode</label
      >
      <mat-radio-group
        aria-labelledby="access-mode-group-label"
        formControlName="accessMode"
        class="form__radio-group"
      >
        <mat-radio-button
          *ngFor="let opt of accessModeOpts"
          [value]="opt.value"
          color="primary"
        >
          {{ opt.displayName }}
        </mat-radio-button>
      </mat-radio-group>
    </ng-container>
  </div>

  <mat-divider vertical class="form__divider"></mat-divider>

  <div class="form__right">
    <h2 i18n="heading">Periodicity</h2>
    <app-periodicity-selection-form
      [periodicity]="editedRequest?.roomCapacityData?.periodicity"
    ></app-periodicity-selection-form>
  </div>
</form>
