<ng-container *ngIf="data$ | async as data; else loadingOrError">
  <header>
    <h1 i18n="heading">Resource capacity utilization</h1>
    <dl class="definition-list--flex">
      <dt i18b="definition tag">Resource:</dt>
      <dd>{{ data.name + ' (' + data.id + ')' }}</dd>
      <dt i18b="definition tag">Interval:</dt>
      <dd>
        {{ this.getInterval() }}
      </dd>
      <dt i18b="definition tag">Usage:</dt>
      <dd>{{ getUsage(data.totalCapacity, data.usedCapacity) }}</dd>
    </dl>
  </header>

  <main>
    <h1 i18n="heading">Reservations</h1>
    <app-data-table
      *ngIf="reservationsDataSource"
      description="Reservations for this resource."
      i18n-description="table description"
      [dataSource]="reservationsDataSource"
      [showCheckboxes]="false"
      [showDeleteButtons]="false"
    ></app-data-table>
  </main>
</ng-container>

<ng-template #loadingOrError>
  <ng-container *ngIf="loading$ | async; else error">
    <header class="header-skeleton">
      <h1 i18n="heading">Resource capacity utilization</h1>
      <ngx-skeleton-loader
        count="3"
        appearance="line"
        [theme]="{
          'border-radius': '5px',
          height: '30px',
          border: '1px solid white'
        }"
      ></ngx-skeleton-loader>
    </header>
    <main>
      <h1 i18n="heading">Reservations</h1>
      <ngx-skeleton-loader
        count="5"
        appearance="line"
        [theme]="{
          'border-radius': '5px',
          height: '30px',
          border: '1px solid white'
        }"
      ></ngx-skeleton-loader>
    </main>
  </ng-container>
</ng-template>

<ng-template #error>
  <app-alert
    [type]="AlertType.ERROR"
    message="Resource not found"
    i18n-message="error message"
  ></app-alert>
</ng-template>
