header,
main,
section {
  margin-top: 40px;
}

.excluded-days {
  display: flex;
  flex-direction: column;

  .date {
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.12);

    mat-icon {
      $icon-size: 17px;
      width: $icon-size;
      height: $icon-size;
      font-size: $icon-size;
      cursor: pointer;
      user-select: none;

      &:hover {
        opacity: 0.8;
      }
      &:active {
        opacity: 1;
      }
    }
  }
}

.days-selection {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  gap: 20px;
}

.monthly-periodicity-opts {
  display: flex;
  flex-direction: column;
}

.periodicity-selection {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.periodicity-specification {
  margin-top: 20px;
}

mat-form-field {
  &.number-selection {
    font-size: 15px;
    width: 50px;
  }
  &#repeat-until-field {
    margin-top: 20px;
  }
}
