<div class="settings">
  <header class="settings__header">
    <h1 i18b="heading">User settings</h1>
  </header>

  <main class="settings__main">
    <form
      [formGroup]="settingsForm"
      (ngSubmit)="submitSettings()"
      class="settings__form"
      *ngIf="(settings.userSettingsLoading$ | async) === false; else loading"
    >
      <!-- Preferred language field -->
      <mat-form-field appearance="outline">
        <mat-label i18n="field label">Preferred language</mat-label>
        <mat-select formControlName="locale">
          <mat-option *ngFor="let opt of languageOptions" [value]="opt.value">
            {{ opt.displayName }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Home time zone field -->
      <mat-form-field appearance="outline">
        <mat-label i18n="field label">Home time zone</mat-label>
        <mat-select formControlName="homeTimeZone">
          <mat-option>
            <ngx-mat-select-search
              appTimezoneSearch
              #homeTimezoneSearch="timezoneSearch"
            ></ngx-mat-select-search>
          </mat-option>
          <mat-option
            *ngFor="let opt of homeTimezoneSearch.filteredTimezones | async"
            [value]="opt.timezone"
          >
            {{ opt.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Current time zone field -->
      <div class="checkbox-form-field">
        <mat-checkbox
          class="checkbox-form-field__checkbox"
          color="primary"
          [formControl]="useCurrentTimeZoneCtrl"
        ></mat-checkbox>
        <mat-form-field appearance="outline" class="checkbox-form-field__field">
          <mat-label i18n="field label">Current time zone</mat-label>
          <mat-select formControlName="currentTimeZone">
            <mat-option>
              <ngx-mat-select-search
                appTimezoneSearch
                #currentTimezoneSearch="timezoneSearch"
              ></ngx-mat-select-search>
            </mat-option>
            <mat-option
              *ngFor="
                let opt of currentTimezoneSearch.filteredTimezones | async
              "
              [value]="opt.timezone"
            >
              {{ opt.label }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="settings__row settings__row--perun">
        <!-- Use perun settings checkbox -->
        <mat-checkbox
          color="primary"
          [formControl]="usePerunSettingsCtrl"
          i18n="checkbox label"
          >Use perun settings</mat-checkbox
        >
        <a
          href="https://einfra.cesnet.cz/a/user-profile/fed/"
          target="_blank"
          mat-flat-button
          color="primary"
          i18n="button name"
          >Edit perun settings</a
        >
      </div>

      <!-- Administration mode checkbox -->
      <mat-checkbox
        *ngIf="settings.isAdmin"
        color="primary"
        i18n="checkbox label"
        [formControl]="administrationModeCtrl"
        >Administration mode</mat-checkbox
      >

      <div class="settings__row settings__row--submit">
        <a mat-button type="button" routerLink="/" i18n="button name">Cancel</a>
        <button
          mat-flat-button
          type="submit"
          color="primary"
          i18n="button name"
        >
          Submit
        </button>
      </div>
    </form>

    <ng-template #loading>
      <ngx-skeleton-loader
        count="4"
        [theme]="{ height: '50px' }"
      ></ngx-skeleton-loader>
    </ng-template>
  </main>
</div>
