<form [formGroup]="form" class="form">
  <mat-form-field appearance="outline" class="form__field">
    <mat-label>Description</mat-label>
    <input type="text" matInput formControlName="description" />
    <mat-error *ngIf="getFormError(form.get('description')!) as error">{{
      error
    }}</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" class="form__field">
    <mat-label>Room name</mat-label>
    <input type="text" matInput formControlName="roomName" />
    <mat-error *ngIf="getFormError(form.get('roomName')!) as error">{{
      error
    }}</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" class="form__field">
    <mat-label>Admin PIN</mat-label>
    <input type="text" matInput formControlName="adminPin" />
    <mat-error *ngIf="getFormError(form.get('adminPin')!) as error">{{
      error
    }}</mat-error>
  </mat-form-field>

  <mat-checkbox color="primary" formControlName="allowParticipants"
    >Allow guests</mat-checkbox
  >
  <mat-checkbox color="primary" formControlName="allowParticipants"
    >Record</mat-checkbox
  >
</form>
