<header
  *ngIf="{
    ltLg: layout.isLessThanLarge$ | async,
    ltMd: layout.isLessThanMedium$ | async
  } as breakpoints"
  class="shongo-header"
>
  <mat-toolbar>
    <div class="res-container fx-center-vert">
      <!-- Hamburger menu -->
      <button
        mat-icon-button
        [hidden]="!breakpoints.ltLg"
        (click)="toggleDropdown()"
      >
        <mat-icon>menu</mat-icon>
      </button>

      <!-- Logo -->
      <a routerLink="/">
        <img
          src="assets/img/meetings_RGB.png"
          alt="Cesnet Meetings"
          width="116px"
          height="50px"
        />
      </a>

      <nav class="shongo-header__navigation fx-center-vert">
        <!-- Big layout menu -->
        <ul class="shongo-header__navigation-list">
          <li
            *ngFor="let item of menuItems"
            [hidden]="
              breakpoints.ltMd || (breakpoints.ltLg && item.hideOnTablet)
            "
          >
            <ng-container *ngIf="!item.subItems; else itemWithSubMenu">
              <ng-container
                *ngTemplateOutlet="linkButton; context: { item: item }"
              ></ng-container>
            </ng-container>

            <ng-template #itemWithSubMenu>
              <ng-container *ngIf="getAuthGuard(item) | async">
                <button mat-button [matMenuTriggerFor]="popupSubMenu">
                  {{ item.label }}<mat-icon>expand_more</mat-icon>
                </button>

                <mat-menu #popupSubMenu="matMenu">
                  <ng-container *ngFor="let subItem of item.subItems">
                    <a mat-menu-item [routerLink]="subItem.route">{{
                      subItem.label
                    }}</a>
                  </ng-container>
                </mat-menu>
              </ng-container>
            </ng-template>
          </li>
        </ul>
      </nav>

      <div class="spacer"></div>

      <!-- i18n language changer -->
      <button
        mat-icon-button
        [matMenuTriggerFor]="languageMenu"
        class="shongo-header__language-changer"
      >
        <mat-icon [svgIcon]="currentLocale.icon"></mat-icon>
      </button>

      <mat-menu #languageMenu="matMenu" xPosition="before">
        <button
          *ngFor="let locale of locales"
          (click)="onSelectLocale(locale.value)"
          mat-menu-item
        >
          <mat-icon [svgIcon]="locale.icon"></mat-icon>
          {{ locale.name }}
        </button>
      </mat-menu>

      <!-- Account menu -->
      <app-account-menu></app-account-menu>
    </div>
  </mat-toolbar>

  <!-- Small layout menu -->
  <div class="shongo-header__dropdown-wrapper">
    <mat-nav-list
      @dropdown
      *ngIf="!isDropdownClosed"
      class="shongo-header__dropdown"
    >
      <ng-container *ngFor="let item of menuItems">
        <ng-container
          *ngIf="breakpoints.ltMd || (breakpoints.ltLg && item.hideOnTablet)"
        >
          <ng-container *ngIf="!item.subItems; else compactItemWithSubMenu">
            <ng-container
              *ngIf="getAuthGuard(item) | async"
              [ngTemplateOutlet]="linkListItem"
              [ngTemplateOutletContext]="{ item: item }"
            ></ng-container>
          </ng-container>

          <ng-template #compactItemWithSubMenu>
            <mat-list-item
              (click)="item.subMenuOpen = !item.subMenuOpen"
              *ngIf="getAuthGuard(item) | async"
            >
              <div matListItemTitle>{{ item.label }}</div>
              <mat-icon matListItemIcon>{{
                item.subMenuOpen ? 'expand_less' : 'expand_more'
              }}</mat-icon>
            </mat-list-item>
          </ng-template>

          <ng-container *ngIf="getAuthGuard(item) | async">
            <mat-nav-list
              @dropdown
              *ngIf="item.subMenuOpen"
              class="shongo-header__subdropdown"
            >
              <ng-container
                *ngFor="let subItem of item.subItems"
                [ngTemplateOutlet]="linkListItem"
                [ngTemplateOutletContext]="{ item: subItem }"
              ></ng-container>
            </mat-nav-list>
          </ng-container>
        </ng-container>
      </ng-container>

      <ng-template #linkListItem let-item="item">
        <ng-container *ngIf="getAuthGuard(item) | async">
          <a
            *ngIf="item.externalRoute; else internalRoute"
            [href]="item.route"
            mat-list-item
            ><div matListItemTitle>{{ item.label }}</div></a
          >

          <ng-template #internalRoute>
            <a
              *ngIf="item.route === '/reserve'"
              [routerLink]="item.route"
              mat-list-item
            >
              <mat-icon matListItemIcon>edit_calendar</mat-icon>
              <div matListItemTitle>{{ item.label }}</div>
            </a>

            <a
              *ngIf="item.route !== '/reserve'"
              [routerLink]="item.route"
              mat-list-item
              ><div matListItemTitle>{{ item.label }}</div></a
            >
          </ng-template>
        </ng-container>
      </ng-template>
    </mat-nav-list>
  </div>
</header>

<ng-template #linkButton let-item="item">
  <ng-container *ngIf="getAuthGuard(item) | async">
    <a
      *ngIf="item.externalRoute; else internalRoute"
      [href]="item.route"
      mat-button
      >{{ item.label }}</a
    >

    <ng-template #internalRoute>
      <a
        *ngIf="item.route === '/reserve'"
        [routerLink]="item.route"
        color="primary"
        mat-flat-button
      >
        <mat-icon>edit_calendar</mat-icon>
        {{ item.label }}
      </a>
      <a
        *ngIf="item.route !== '/reserve'"
        [routerLink]="item.route"
        mat-button
        >{{ item.label }}</a
      >
    </ng-template>
  </ng-container>
</ng-template>
