<header
  *ngIf="{
    ltLg: layout.isLessThanLarge$ | async,
    ltMd: layout.isLessThanMedium$ | async
  } as breakpoints"
>
  <mat-toolbar class="header-toolbar">
    <div class="res-container fx-center-vert">
      <!-- Logo -->
      <a routerLink="/">
        <img
          src="assets/img/meetings_RGB.png"
          alt="Cesnet Meetings"
          width="116px"
          height="50px"
        />
      </a>

      <nav class="fx-center-vert">
        <!-- Big layout menu -->
        <ul class="navigation-list">
          <li
            *ngFor="let item of menuItems"
            [hidden]="
              breakpoints.ltMd || (breakpoints.ltLg && item.hideOnTablet)
            "
          >
            <ng-container *ngIf="!item.subItems; else itemWithSubMenu">
              <ng-container
                *ngTemplateOutlet="linkButton; context: { item: item }"
              ></ng-container>
            </ng-container>

            <ng-template #itemWithSubMenu>
              <ng-container *ngIf="getAuthGuard(item) | async">
                <button
                  mat-button
                  [matMenuTriggerFor]="popupSubMenu"
                  class="navigation-list__item"
                >
                  {{ item.label }}<mat-icon>expand_more</mat-icon>
                </button>

                <mat-menu #popupSubMenu="matMenu">
                  <ng-container *ngFor="let subItem of item.subItems">
                    <a
                      mat-menu-item
                      [routerLink]="subItem.route"
                      class="navigation-list__item"
                      >{{ subItem.label }}</a
                    >
                  </ng-container>
                </mat-menu>
              </ng-container>
            </ng-template>
          </li>
        </ul>

        <button
          mat-icon-button
          [hidden]="!breakpoints.ltLg"
          (click)="toggleDropdown()"
        >
          <mat-icon>menu</mat-icon>
        </button>
      </nav>

      <div class="spacer"></div>

      <!-- i18n language changer -->
      <button mat-icon-button [matMenuTriggerFor]="languageMenu">
        <mat-icon [svgIcon]="currentLocale.icon"></mat-icon>
      </button>
      <mat-menu #languageMenu="matMenu" xPosition="before">
        <button
          *ngFor="let locale of locales"
          (click)="onSelectLocale(locale.value)"
          mat-menu-item
        >
          <mat-icon [svgIcon]="locale.icon"></mat-icon>
          {{ locale.name }}
        </button>
      </mat-menu>

      <!-- Account menu -->
      <app-account-menu></app-account-menu>
    </div>
  </mat-toolbar>

  <!-- Small layout menu -->
  <ul id="dropdown-menu" [@dropdown]="isDropdownClosed ? 'closed' : 'open'">
    <ng-container *ngFor="let item of menuItems">
      <li
        [hidden]="
          !breakpoints.ltMd && (!breakpoints.ltLg || !item.hideOnTablet)
        "
      >
        <ng-container *ngIf="!item.subItems; else compactItemWithSubMenu">
          <div
            matRipple
            [matRippleCentered]="true"
            *ngIf="getAuthGuard(item) | async"
          >
            <ng-container
              *ngTemplateOutlet="linkButton; context: { item: item }"
            ></ng-container>
          </div>
        </ng-container>

        <ng-template #compactItemWithSubMenu>
          <button
            mat-ripple
            (click)="item.subMenuOpen = !item.subMenuOpen"
            class="mat-body navigation-list__item"
            *ngIf="getAuthGuard(item) | async"
          >
            {{ item.label }}<mat-icon>expand_more</mat-icon>
          </button>
        </ng-template>
      </li>
      <ng-container *ngIf="getAuthGuard(item) | async">
        <li
          class="subItem"
          [@dropdown]="item.subMenuOpen ? 'open' : 'closed'"
          *ngFor="let subItem of item.subItems"
        >
          <ng-container
            *ngTemplateOutlet="linkButton; context: { item: subItem }"
          ></ng-container>
        </li>
      </ng-container>
    </ng-container>
  </ul>
</header>

<ng-template #linkButton let-item="item">
  <ng-container *ngIf="getAuthGuard(item) | async">
    <a
      *ngIf="item.externalRoute; else internalRoute"
      mat-button
      class="navigation-list__item"
      [href]="item.route"
      >{{ item.label }}</a
    >

    <ng-template #internalRoute>
      <a
        *ngIf="item.route === '/reserve'"
        mat-flat-button
        color="primary"
        class="navigation-list__item"
        [routerLink]="item.route"
      >
        <mat-icon>edit_calendar</mat-icon>
        {{ item.label }}
      </a>
      <a
        *ngIf="item.route !== '/reserve'"
        mat-button
        class="navigation-list__item"
        [routerLink]="item.route"
        >{{ item.label }}</a
      >
    </ng-template>
  </ng-container>
</ng-template>
