/* Layout */
.spacer {
  flex: 1;
}

/* Navigation bar */
.shongo-header {
  $header-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  box-shadow: $header-shadow;

  &__navigation {
    margin-left: var(--spacer-4);
  }

  &__navigation-list {
    display: flex;
    gap: var(--spacer-2);
  }

  &__dropdown-wrapper {
    position: relative;
  }

  &__dropdown {
    // Sets the list item height to that of item with icon for all items
    --mdc-list-list-item-one-line-container-height: 56px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: var(--navigation-zx);
    background: var(--white);
    box-shadow: $header-shadow;
  }

  &__subdropdown {
    overflow: hidden;
  }

  &__language-changer {
    margin-right: var(--spacer-2);
  }
}
