.alert {
  display: flex;
  align-items: center;
  gap: 0.5em;
  padding: 0.5em 1em;
  border-radius: 5px;
  width: fit-content;
  border: 1px solid;

  &.error {
    background: var(--error-color-light);
    border-color: var(--error-color);
    color: var(--error-color);
  }
  &.success {
    background: var(--success-color-light);
    border-color: var(--success-color);
    color: var(--success-color);
  }
  &.warning {
    background: var(--warning-color-light);
    border-color: var(--warning-color);
    color: var(--warning-color);
  }
}

#close-btn {
  $icon-size: 20px;
  $button-size: $icon-size + 5px;

  width: $button-size;
  height: $button-size;
  line-height: $button-size;

  .mat-icon {
    height: $icon-size;
    width: $icon-size;
    font-size: $icon-size;
    line-height: $icon-size;
  }
}
