.alert {
  display: flex;
  align-items: center;
  gap: 0.5em;
  padding: 0.5em 1em;
  border-radius: 5px;
  width: fit-content;
  border: 1px solid;

  &.error {
    background: var(--error-color-light);
    border-color: var(--error-color);
    color: var(--error-color);
  }
  &.success {
    background: var(--success-color-light);
    border-color: var(--success-color);
    color: var(--success-color);
  }
  &.warning {
    background: var(--warning-color-light);
    border-color: var(--warning-color);
    color: var(--warning-color);
  }
}
