<header>
  <h2 class="mat-primary-color" i18n="heading">Modification of participants</h2>
  <a
    mat-button
    routerLink="participant/create"
    aria-labelledby="add-participant-btn-name">
    <mat-icon color="primary">add_circle</mat-icon>&nbsp;<span
      i18n="button name"
      id="add-participant-btn-name"
      >Add participant</span
    >
  </a>
</header>

<main>
  <app-data-table
    *ngIf="participantsDataSource"
    description="Configure participants who will receive invitation and notifications."
    i18n-description="table description"
    [showDeleteButtons]="false"
    [showCheckboxes]="false"
    [dataSource]="participantsDataSource"></app-data-table>
</main>
