@import "~@angular/material/theming";

@mixin color($config) {
  $config: mat-get-color-config($config);
  $primary: map-get($config, primary);

  h1,
  a:not(.mat-icon-button, .mat-button, .mat-ripple) {
    color: map-get($primary, default);
    text-decoration: none;
  }
  a:hover:not(.mat-icon-button, .mat-button, .mat-ripple) {
    color: map-get($primary, darker);
  }
}
