@use "sass:map";
@use "@angular/material" as mat;

@mixin publish($theme) {
  $color-config: mat.get-color-config($theme);
  $primary: map.get($color-config, primary);
  $accent: map.get($color-config, accent);
  $warn: map.get($color-config, warn);

  --mat-primary: #{map.get($primary, default)};
  --mat-accent: #{map.get($accent, default)};
  --mat-warn: #{map.get($warn, default)};
}
