dl {
  margin: 0;
}
dt,
dd {
  padding-bottom: 1em;
  word-break: break-all;
}
dt {
  color: var(--black);
  font-weight: 500;
}
dd {
  margin-left: 3ch;
  color: var(--gray-200);
}

.definition-list--flex {
  --dt-min-width: 17ch;
  --dt-max-width: 25ch;
  --dt-width: 30%;

  display: flex;
  flex-flow: row wrap;
  width: 100%;
  min-width: 21em;
  overflow: visible;

  > dt {
    text-overflow: ellipsis;
    overflow: hidden;
    min-width: var(--dt-min-width);
    max-width: var(--dt-max-width);
    width: var(--dt-width);
  }
  > dd {
    width: calc(100% - var(--dt-width));
    max-width: calc(100% - var(--dt-min-width) - 1ch);
    min-width: calc(100% - var(--dt-max-width) - 1ch);
    margin-left: auto;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

@media only screen and (max-width: 425px) {
  .definition-list--flex {
    display: inline;
    min-width: none;

    > dt,
    > dd {
      width: auto;
      min-width: none;
      max-width: none;
    }

    > dd {
      padding-left: 2ch;
    }
  }
}
