dl {
  margin: 0;
}
dt,
dd {
  font-size: 1em;
  padding-bottom: 0.7em;
}
dt {
  color: rgb(90, 90, 90);
  font-weight: bold;
}
dd {
  margin-left: 3ch;
}

.definition-list--flex {
  --dt-min-width: 15ch;
  --dt-max-width: 25ch;
  --dt-width: 25%;

  display: flex;
  flex-flow: row wrap;
  width: 100%;
  min-width: 21em;
  overflow: visible;
  font-size: 1em;

  > dt {
    text-overflow: ellipsis;
    overflow: hidden;
    min-width: var(--dt-min-width);
    max-width: var(--dt-max-width);
    width: var(--dt-width);
  }
  > dd {
    width: calc(100% - var(--dt-width));
    max-width: calc(100% - var(--dt-min-width) - 1ch);
    min-width: calc(100% - var(--dt-max-width) - 1ch);
    margin-left: auto;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
