.custom-scrollbar::-webkit-scrollbar {
  $scrollbar-size: 5px;
  width: $scrollbar-size;
  height: $scrollbar-size;
}
.custom-scrollbar::-webkit-scrollbar-track {
  border-radius: 20px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 20px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: var(--gray-400);
}
