.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  border-radius: 20px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 20px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: var(--gray-400);
}
