// Mat icon helpers
.icon-s {
  transform: scale(0.9);
}
.icon-xs {
  transform: scale(0.8);
}
.icon-xxs {
  transform: scale(0.5);
}

// Flex helpers
.fx-center-hor,
.fx-center-vert,
.fx-center-both {
  display: flex;
}
.fx-center-hor {
  justify-content: center;
}
.fx-center-vert {
  align-items: center;
}
.fx-center-both {
  justify-content: center;
  align-items: center;
}

// Mat component style overrides
mat-form-field.unpadded > .mat-form-field-wrapper {
  padding: 0;
  margin: 0;
}

.mat-tooltip {
  font-size: var(--font-size-regular);
}

.small-icon-button {
  font-size: 0.5rem !important;
  width: 2rem !important;
  height: 2rem !important;
  padding: 0.25rem !important;
}

.help-icon-button {
  @extend .small-icon-button;
  color: var(--gray-300);
}

// Colors
.grayed-text {
  color: var(--grayed-text-color);
}
.mat-primary-color {
  color: var(--mat-primary);
}
