// Mat icon helpers
.icon-s {
  transform: scale(0.9);
}
.icon-xs {
  transform: scale(0.8);
}
.icon-xxs {
  transform: scale(0.5);
}

// Flex helpers
.fx-center-hor,
.fx-center-vert,
.fx-center-both {
  display: flex;
}
.fx-center-hor {
  justify-content: center;
}
.fx-center-vert {
  align-items: center;
}
.fx-center-both {
  justify-content: center;
  align-items: center;
}

// Mat component style overrides
mat-form-field.unpadded > .mat-form-field-wrapper {
  padding: 0;
  margin: 0;
}

.mat-tooltip {
  font-size: var(--font-size-regular);
}

.small-icon-button {
  --icon-size: 1.3em;
  --button-size: calc(var(--icon-size) + 0.5em);

  width: var(--button-size) !important;
  height: var(--button-size) !important;
  line-height: var(--button-size) !important;

  .mat-icon {
    width: var(--icon-size) !important;
    height: var(--icon-size) !important;
    line-height: var(--icon-size) !important;
  }
  .material-icons {
    font-size: var(--icon-size) !important;
  }
}

.help-icon-button {
  @extend .small-icon-button;
  color: var(--gray-300);
  margin: 0px 0.2em !important;
}

// Colors
.grayed-text {
  color: var(--grayed-text-color);
}
.mat-primary-color {
  color: var(--mat-primary);
}
