/* Layout */
.help {
  display: flex;
  flex-wrap: wrap;

  aside {
    width: 20%;
  }
  main {
    flex: 1;
  }
}
main {
  line-height: 200%;
}
header {
  margin-bottom: 15px;
}

/* Text */
h2 {
  margin-bottom: 0px;
}

/* Navigation */
aside {
  position: relative;
}
nav {
  position: fixed;
  margin-right: 15px;
  width: fit-content;
}
.selected {
  color: rgb(16, 197, 16);
}

/* Images */
.labeled-img {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 1150px) {
  .help {
    main,
    aside {
      width: 100%;
    }

    aside,
    nav {
      position: initial;
    }

    aside {
      margin-bottom: 40px;
    }
  }
}
