/* Layout */
.help {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;

  aside {
    width: 20%;
  }
  main {
    flex: 1;
    line-height: 200%;
    text-align: justify;
  }
}

header {
  margin-bottom: 1em;
}

/* Text */
h2 {
  margin-bottom: 0px;
}

/* Navigation */
aside {
  position: relative;
}
nav {
  position: fixed;
  margin-right: 1em;
  width: fit-content;
}
section:not(:last-child) {
  margin-bottom: 1rem;
}

.navigation-fragment {
  &__text {
    margin-left: 0.5rem;
  }
}
.warning-icon {
  display: inline;
}

/* Images */
.image-row {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}
.labeled-img {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 1150px) {
  .help {
    main,
    aside {
      width: 100%;
    }

    aside,
    nav {
      position: initial;
    }

    aside {
      margin-bottom: 2.5em;
    }
  }
}
