<div class="select-resource-step">
  <h1>
    {{
      "Which " +
        (showTypes ? "type of " : "") +
        "resource do you want to reserve?"
    }}
  </h1>

  <ul class="type-selection" *ngIf="showTypes; else resourceSelection">
    <li class="type-item" *ngFor="let typeBtn of resourceTypeButtons">
      <button
        class="type-button"
        matRipple
        (click)="handleResourceTypeClick(typeBtn.type)"
      >
        <mat-icon color="primary">{{ typeBtn.icon }}</mat-icon>
        {{ typeBtn.name }}
      </button>
    </li>
  </ul>

  <ng-template #resourceSelection>
    <div class="resource-selection">
      <mat-form-field appearance="outline" *ngIf="!showTypes">
        <mat-label>Select resource</mat-label>
        <mat-select
          [formControl]="resourceControl"
          (valueChange)="emitSelectedResource($event)"
        >
          <mat-option>
            <ngx-mat-select-search
              [formControl]="resourceFilterCtrl"
              placeholderLabel="Search..."
              noEntriesFoundLabel="No resources found"
            ></ngx-mat-select-search>
          </mat-option>
          <mat-option
            *ngFor="let resource of getResourcesByType(selectedResourceType)"
            [value]="resource.id"
            >{{ resource.name }}</mat-option
          >
        </mat-select>
      </mat-form-field>
      <button mat-stroked-button type="button" (click)="backToTypeSelection()">
        Select other resource type
      </button>
      <button
        mat-flat-button
        matStepperNext
        type="button"
        color="primary"
        [disabled]="!isCompleted()"
      >
        Select time slot
      </button>
    </div>
  </ng-template>
</div>
