.slot-selection {
  &__section {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    margin-top: 0.5em;
  }

  &__label {
    font-weight: 500;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}

.footer {
  margin-top: var(--spacer-4);

  &__buttons {
    display: flex;
    align-items: center;
    gap: 1em;
  }
}

@media only screen and (max-width: 550px) {
  .slot-selection__field {
    width: 100%;
  }
}
