<div class="session-ended">
  <header mat-dialog-title>
    <h1 i18n="heading">You have been logged out</h1>
  </header>

  <mat-dialog-content i18n>
    Your session ended or you have been logged out from another place, you can
    log in again.
  </mat-dialog-content>

  <mat-dialog-actions class="session-ended__actions">
    <button mat-button mat-dialog-close i18n="button name">Close</button>
    <button
      mat-flat-button
      color="primary"
      (click)="auth.login()"
      i18n="button name"
    >
      Log in
    </button>
  </mat-dialog-actions>
</div>
