<form [formGroup]="periodicityForm" class="periodicity">
  <!-- Periodicity type selection -->
  <mat-radio-group
    aria-label="Select periodicity option"
    i18n-aria-label="label"
    formControlName="periodicity"
    class="selection selection--periodicity"
    (change)="handlePeriodicityRadioChange($event)">
    <mat-radio-button
      [value]="PeriodicityType.NONE"
      color="primary"
      i18n="option name"
      >None</mat-radio-button
    >
    <mat-radio-button
      [value]="PeriodicityType.DAILY"
      color="primary"
      i18n="option name"
      >Daily</mat-radio-button
    >
    <mat-radio-button
      [value]="PeriodicityType.WEEKLY"
      color="primary"
      i18n="option name"
      >Weekly</mat-radio-button
    >
    <mat-radio-button
      [value]="PeriodicityType.MONTHLY"
      color="primary"
      i18n="option name"
      >Monthly</mat-radio-button
    >
  </mat-radio-group>

  <mat-divider></mat-divider>

  <div class="periodicity__specification">
    <div [ngSwitch]="periodicityForm.get('periodicity')!.value">
      <!-- Weekly form -->
      <form *ngSwitchCase="PeriodicityType.WEEKLY" formGroupName="weeklyForm">
        <span
          ><span
            i18n="
              sentence part|Start of sentence: Repeat every {nth}. week at {days
              e.g. monday, tuesday...}.
            "
            >Repeat every</span
          >
          <!-- Nth. week field -->
          <mat-form-field class="periodicity__field periodicity__field--number">
            <mat-select
              appearance="outline"
              [value]="1"
              formControlName="nthWeek">
              <mat-option *ngFor="let opt of orderOpts" [value]="opt.value">{{
                opt.displayName
              }}</mat-option>
            </mat-select> </mat-form-field
          ><span
            i18n="
              sentence part|Middle part of sentence: Repeat every {nth}. week at
              {days e.g. monday, tuesday...}.
            "
            >week at:</span
          ></span
        >

        <!-- Days selection -->
        <section class="selection selection--days">
          <mat-checkbox color="primary" formControlName="monday" i18n="day"
            >Monday</mat-checkbox
          >
          <mat-checkbox color="primary" formControlName="tuesday" i18n="day"
            >Tuesday</mat-checkbox
          >
          <mat-checkbox color="primary" formControlName="wednesday" i18n="day"
            >Wednesday</mat-checkbox
          >
          <mat-checkbox color="primary" formControlName="thursday" i18n="day"
            >Thursday</mat-checkbox
          >
          <mat-checkbox color="primary" formControlName="friday" i18n="day"
            >Friday</mat-checkbox
          >
          <mat-checkbox color="primary" formControlName="saturday" i18n="day"
            >Saturday</mat-checkbox
          >
          <mat-checkbox color="primary" formControlName="sunday" i18n="day"
            >Sunday</mat-checkbox
          >
        </section>
      </form>

      <!-- Monthly form -->
      <form
        *ngSwitchCase="PeriodicityType.MONTHLY"
        formGroupName="monthlyForm"
        class="monthly-form">
        <mat-radio-group
          aria-label="Select monthly periodicity option"
          i18n-aria-label="label"
          class="selection--vertical"
          formControlName="periodicityType"
          (change)="handleMonthlyRadioChange($event)">
          <!-- Standard monthly periodicity -->
          <mat-radio-button
            [value]="MonthlyPeriodicityType.STANDARD"
            color="primary"
            #regularRadio>
            <form formGroupName="regularForm" class="monthly-form__regular">
              <span
                i18n="
                  sentence part|Start of sentence: Repeat every {nth}. month.
                "
                >Repeat every</span
              >

              <!-- Nth. month field -->
              <mat-form-field
                class="periodicity__field periodicity__field--number">
                <mat-select
                  appearance="outline"
                  [value]="1"
                  formControlName="nthMonth">
                  <mat-option
                    *ngFor="let opt of orderOpts"
                    [value]="opt.value"
                    >{{ opt.displayName }}</mat-option
                  >
                </mat-select> </mat-form-field
              ><span
                i18n="sentence part|End of sentence: Repeat every {nth}. month."
                >month.</span
              >
            </form>
          </mat-radio-button>

          <!-- Specific day monthly periodicity -->
          <mat-radio-button
            [value]="MonthlyPeriodicityType.SPECIFIC_DAY"
            color="primary"
            #irregularRadio>
            <form formGroupName="irregularForm" class="monthly-form__irregular">
              <span
                i18n="
                  sentence part|Start of sentence: Repeat every {nth}. {day} in
                  every {nth}. month.
                "
                >Repeat every</span
              >

              <!-- Nth. day field -->
              <mat-form-field
                class="periodicity__field periodicity__field--number">
                <mat-select
                  appearance="outline"
                  [value]="1"
                  formControlName="nthDay">
                  <mat-option
                    *ngFor="let opt of monthlyDayOrderOpts"
                    [value]="opt.value"
                    >{{ opt.displayName }}</mat-option
                  >
                </mat-select>
              </mat-form-field>

              <!-- Day in month selection -->
              <mat-form-field
                class="periodicity__field periodicity__field--text">
                <mat-select
                  appearance="outline"
                  [value]="1"
                  formControlName="day">
                  <mat-option
                    *ngFor="let opt of monthlyDayOpts"
                    [value]="opt.value"
                    >{{ opt.displayName }}</mat-option
                  >
                </mat-select>
              </mat-form-field>

              <br class="monthly-form__break" />

              <span
                i18n="
                  sentence part|Middle of sentence: Repeat every {nth}. {day} in
                  every {nth}. month.
                "
                >in every</span
              >

              <!-- Nth. month field -->
              <mat-form-field
                class="periodicity__field periodicity__field--number">
                <mat-select
                  appearance="outline"
                  [value]="1"
                  formControlName="nthMonth">
                  <mat-option
                    *ngFor="let opt of orderOpts"
                    [value]="opt.value"
                    >{{ opt.displayName }}</mat-option
                  >
                </mat-select>
              </mat-form-field>
              <span
                i18n="
                  sentence part|End of sentence: Repeat every {nth}. {day} in
                  every {nth}. month.
                "
                >month.</span
              >
            </form>
          </mat-radio-button>
        </mat-radio-group>
      </form>
      <div *ngSwitchDefault></div>
    </div>
  </div>

  <!-- Repeat until + excluded dates -->
  <div
    *ngIf="periodicityForm.get('periodicity')!.value !== PeriodicityType.NONE">
    <!-- Repeat until field -->
    <mat-form-field
      appearance="outline"
      class="periodicity__field periodicity__field--date">
      <mat-label i18n="field label">Repeat until</mat-label>
      <input
        matInput
        [matDatepicker]="repeatUntilDatePicker"
        formControlName="repeatUntil" />
      <mat-error
        *ngIf="getFormError(this.periodicityForm.get('repeatUntil')!) as error"
        >{{ error }}</mat-error
      >
      <mat-datepicker-toggle
        matSuffix
        [for]="repeatUntilDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #repeatUntilDatePicker></mat-datepicker>
    </mat-form-field>

    <!-- Except for dates -->
    <div class="periodicity__excluded-days-header">
      <span i18n="label">Except for dates</span>

      <div>
        <input
          type="date"
          style="visibility: hidden; width: 0"
          [matDatepicker]="excludedDatePicker"
          (dateInput)="addExcludedDate($event)" />
        <mat-datepicker #excludedDatePicker></mat-datepicker>
        <button
          mat-button
          type="button"
          aria-labelledby="add-date-btn-name"
          (click)="excludedDatePicker.open()">
          <mat-icon color="primary">add</mat-icon>&nbsp;<span
            i18n="button name"
            id="add-date-btn-name"
            >Add date</span
          >
        </button>
      </div>
    </div>

    <mat-divider></mat-divider>

    <!-- No excluded dates -->
    <div
      *ngIf="excludedDays.size === 0"
      class="periodicity__no-excluded-days"
      i18n="fallback text">
      None
    </div>

    <!-- Excluded dates chips -->
    <mat-chip-list class="periodicity__excluded-days">
      <mat-chip
        *ngFor="let date of excludedDays"
        color="primary"
        (removed)="removeExcludedDay(date)">
        {{ date | momentDate }}
        <button matChipRemove>
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip>
    </mat-chip-list>
  </div>
</form>
