<div class="table-filter">
  <form [formGroup]="filterForm">
    <mat-form-field appearance="outline">
      <mat-label>Time unit</mat-label>
      <mat-select formControlName="unit">
        <mat-option *ngFor="let unit of units" [value]="unit.value">{{
          unit.displayName
        }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>From</mat-label>
      <input matInput [matDatepicker]="fromPicker" formControlName="dateFrom" />
      <mat-datepicker-toggle
        matSuffix
        [for]="fromPicker"
      ></mat-datepicker-toggle>
      <mat-datepicker #fromPicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>To</mat-label>
      <input matInput [matDatepicker]="toPicker" formControlName="dateTo" />
      <mat-datepicker-toggle matSuffix [for]="toPicker"></mat-datepicker-toggle>
      <mat-datepicker #toPicker></mat-datepicker>
    </mat-form-field>

    <mat-slide-toggle color="primary" formControlName="useAbsoluteValues"
      >Use absolute values</mat-slide-toggle
    >
  </form>
</div>
