<div class="filter">
  <form [formGroup]="filterForm" class="filter__form">
    <!-- Time unit field -->
    <mat-form-field appearance="outline" class="filter__field">
      <mat-label i18n="field label">Time unit</mat-label>
      <mat-select formControlName="unit">
        <mat-option *ngFor="let unit of units" [value]="unit.value">{{
          unit.displayName
        }}</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Interval from field -->
    <mat-form-field appearance="outline" class="filter__field">
      <mat-label i18n="field label">From</mat-label>
      <input matInput [matDatepicker]="fromPicker" formControlName="dateFrom" />
      <mat-datepicker-toggle
        matSuffix
        [for]="fromPicker"
      ></mat-datepicker-toggle>
      <mat-datepicker #fromPicker></mat-datepicker>
    </mat-form-field>

    <!-- Interval to field -->
    <mat-form-field appearance="outline" class="filter__field">
      <mat-label i18n="field label">To</mat-label>
      <input matInput [matDatepicker]="toPicker" formControlName="dateTo" />
      <mat-datepicker-toggle matSuffix [for]="toPicker"></mat-datepicker-toggle>
      <mat-datepicker #toPicker></mat-datepicker>
    </mat-form-field>

    <!-- Show absolute values toggle -->
    <mat-slide-toggle
      color="primary"
      class="filter__slide-toggle"
      i18n="label"
      [formControl]="useAbsoluteValues"
      >Show absolute values</mat-slide-toggle
    >
  </form>
</div>
