.filter {
  padding-top: var(--form-field-padding-bottom);

  &__form {
    display: flex;
    gap: 1em;
    align-items: center;
    flex-wrap: wrap;
  }

  &__slide-toggle {
    margin-bottom: var(--form-field-padding-bottom);
  }
}

@media only screen and (max-width: 425px) {
  .filter__field {
    width: 100%;
  }
}
