<div class="table-container">
  <header>
    <section class="top-header-section">
      <h3>{{ header }}</h3>
      
      <div class="buttons">
        <button mat-icon-button matTooltip="Obnovit" (click)="dataSource.refreshData()">
          <mat-icon>refresh</mat-icon>
        </button>
        
        <ng-container *ngIf="showDeleteButtons">
          <button mat-icon-button matTooltip="Smazat vybrané">
            <mat-icon>delete</mat-icon>
          </button>
          <button mat-icon-button matTooltip="Smazat vše">
            <mat-icon>delete_forever</mat-icon>
          </button>
        </ng-container>
      </div>

    </section>
    <mat-divider></mat-divider>
    <ng-content></ng-content>
    <mat-divider *ngIf="filter"></mat-divider>
  </header>

  <table [hidden]="dataSource.loading$ | async" mat-table matSort appMatTableResponsive class="full-width-table" aria-label="Elements">
  
    <!-- Columns -->
    <ng-container *ngFor="let column of dataSource.displayedColumns" [matColumnDef]="column.name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ column.displayName }}</th>
      <td mat-cell *matCellDef="let row" [matTooltip]="getTooltipText(dataSource.pipeData(row[column.name], column.pipeFunc))">{{ dataSource.pipeData(row[column.name], column.pipeFunc) | appShortString: maxCellTextLength }}</td>
    </ng-container>
  
    <!-- Action buttons -->
    <ng-container *ngIf="dataSource.buttons">
      <ng-container *ngFor="let button of dataSource.buttons" [matColumnDef]="button.name">
        <th mat-header-cell *matHeaderCellDef class="button-header"></th>
        <td mat-cell *matCellDef="let row" class="justify-right">
          <button mat-icon-button (click)="button.executeAction(row)">
            <mat-icon>{{ button.icon }}</mat-icon>
          </button>
        </td>
      </ng-container>
    </ng-container>
  
    <!-- Selection checkboxes -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef class="justify-right button-header">
        <mat-checkbox color="primary"
                      (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row" class="justify-right">
        <mat-checkbox color="primary"
                      (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </td>
    </ng-container>
  
    <!-- Rows -->
    <ng-container *ngIf="displayedColumns | async as columns">
      <tr mat-header-row *matHeaderRowDef="columns"></tr>
      <tr mat-row *matRowDef="let row; columns: columns;"></tr>
    </ng-container>
  
  </table>

  <div class="loading" *ngIf="dataSource.loading$ | async">
    <mat-spinner></mat-spinner>
  </div>
  
  <mat-paginator #paginator
      [length]="dataSource?.data?.count"
      [pageIndex]="0"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 20]"
      [class.extra-gap]="!dataSource || !dataSource.data || !dataSource.data.count"
      aria-label="Select page">
  </mat-paginator>
</div>
