@import "../../directives/mat-table-responsive/mobile-table-row.scss";

/* Responsive style is defined in mat-table-responive directive folder. */
.full-width-table {
  width: 100%;
}
.mat-column-select {
  overflow: initial;
}
.top-header-section {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  align-items: center;

  h3 {
    margin: 0;
  }
}

/* Buttons */
.buttons {
  text-align: right;
}
.button-header {
  box-sizing: content-box; // To keep the padding-right of the last cell.
  width: 40px;
}
.justify-right {
  text-align: center;
}

/* Loading display */
.loading {
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* No data display */
.no-data {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;

  h2 {
    color: gray;
  }
}

/* Media queries */
@media (max-width: 768px) {
  mat-paginator {
    @include styled-row;

    &.extra-gap {
      margin-top: 20px;
    }
  }

  header,
  .no-data,
  .loading {
    background: white;
    box-shadow: $table-card-shadow;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
  }
}
@media (min-width: 769px) {
  .table-container {
    padding: 10px;
    background: white;
    box-shadow: $table-card-shadow;
    border-radius: 4px;
    overflow: hidden;
  }
}
