<header>
  <h2 class="mat-primary-color">Modification of user roles</h2>
  <a mat-button routerLink="user-role/create">
    <mat-icon color="primary">add_circle</mat-icon>&nbsp;Add user role
  </a>
</header>

<main>
  <app-data-table
    *ngIf="userRolesDataSource"
    [dataSource]="userRolesDataSource"
    [showDeleteButtons]="false"
    [showCheckboxes]="false"
    description="Configure roles for users whom you want to allow the access to the room in this system. This configuration can be used to define multiple owners to the room."
  ></app-data-table>
</main>
