<form [formGroup]="form" class="resource-selection">
  <!-- Resource type field -->
  <mat-form-field appearance="outline">
    <mat-label i18n="field label">Select resource type</mat-label>
    <mat-select
      placeholder="Select resource type"
      formControlName="type"
      i18n-placeholder="placeholder"
      (valueChange)="handleResourceTypeChange($event)"
    >
      <mat-option *ngFor="let opt of resourceTypes" [value]="opt.value">{{
        opt.displayName
      }}</mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Resource field -->
  <mat-form-field appearance="outline">
    <mat-label i18n="field label">Select resource</mat-label>
    <mat-select
      formControlName="resource"
      (valueChange)="onResourceSelect($event)"
    >
      <mat-option>
        <ngx-mat-select-search
          [formControl]="resourceFilterCtrl"
          placeholderLabel="Search..."
          noEntriesFoundLabel="No resources found"
          i18n-placeholderLabel="placeholder"
          i18n-noEntriesFoundLabel="no results text"
        ></ngx-mat-select-search>
      </mat-option>
      <mat-option
        *ngFor="let resource of filteredResourceOpts"
        [value]="resource.value"
        >{{ resource.displayName }}</mat-option
      >
    </mat-select>
  </mat-form-field>

  <app-dropdown-section
    *ngFor="let type of resourceTypes"
    [label]="type.displayName"
  >
    <div class="resource-selection__checkboxes">
      <mat-checkbox
        *ngFor="let resource of createResourceOpts(type.value)"
        color="primary"
        [formControl]="
          form.controls.displayedResources.controls[type.value].controls[
            resource.value.id
          ]
        "
        >{{ resource.displayName }}</mat-checkbox
      >
    </div>
  </app-dropdown-section>
</form>
