.dropdown-section {
  overflow: hidden;

  &__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--spacer-4);
    background: none;
    border: none;
    padding: var(--spacer-2) var(--spacer-1);
    cursor: pointer;

    &:hover {
      background: var(--gray-900);
      transition: 0.1s;
    }
  }
}
