<header>
  <h1 i18n="heading">Add user role</h1>
</header>

<main>
  <form *ngIf="form" [formGroup]="form">
    <!-- Reservation request field -->
    <mat-form-field appearance="outline">
      <mat-label i18n="field label">Reservation request</mat-label>
      <input type="text" matInput formControlName="reservationRequest" />
    </mat-form-field>

    <!-- Identity type selection -->
    <label i18n="label">Identity type:</label>
    <mat-radio-group
      aria-label="Select identity type"
      formControlName="identityType"
      color="primary">
      <mat-radio-button [value]="IdentityType.USER">User</mat-radio-button>
      <mat-radio-button [value]="IdentityType.GROUP">Group</mat-radio-button>
    </mat-radio-group>

    <!-- User selection field -->
    <mat-form-field
      appearance="outline"
      *ngIf="
        form.get('identityType')!.value === IdentityType.USER;
        else groupSearch
      ">
      <mat-label i18n="field label">User</mat-label>
      <mat-select formControlName="identityId">
        <mat-option>
          <ngx-mat-select-search
            appUserSearch
            #userSearch="userSearch"></ngx-mat-select-search>
        </mat-option>
        <mat-option
          *ngFor="let opt of userSearch.filteredUsers | async"
          [value]="opt.id">
          {{ opt.user }}
        </mat-option>
      </mat-select>
      <mat-hint i18n="field hint">Type at least 2 characters</mat-hint>
      <mat-error *ngIf="getFormError(form.get('identityId')!) as error">{{
        error
      }}</mat-error>
    </mat-form-field>

    <!-- Group selection field -->
    <ng-template #groupSearch>
      <mat-form-field appearance="outline">
        <mat-label i18n="field label">Group</mat-label>
        <mat-select formControlName="identityId">
          <mat-option>
            <ngx-mat-select-search
              appGroupSearch
              #groupSearch="groupSearch"></ngx-mat-select-search>
          </mat-option>
          <mat-option
            *ngFor="let opt of groupSearch.filteredGroups | async"
            [value]="opt.id">
            {{ opt.group }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="getFormError(form.get('identityId')!) as error">{{
          error
        }}</mat-error>
      </mat-form-field>
    </ng-template>

    <!-- Role selection field -->
    <mat-form-field appearance="outline">
      <mat-select formControlName="role">
        <mat-option
          *ngFor="let roleType of roleTypes"
          [value]="roleType.value"
          >{{ roleType.displayName }}</mat-option
        >
      </mat-select>
    </mat-form-field>

    <div class="buttons">
      <button
        mat-flat-button
        color="primary"
        i18n="button name"
        [disabled]="!isValid()"
        (click)="postUserRole()">
        Add participant
      </button>

      <ng-container *ngIf="posting$ | async; else cancelButton">
        <app-loading-text
          message="Creating participant..."
          i18n="loading text"></app-loading-text>
      </ng-container>

      <ng-template #cancelButton>
        <a mat-button [routerLink]="'../../'" i18n="button name">Cancel</a>
      </ng-template>
    </div>
  </form>
</main>
