<div class="resource-utilization" [style.background]="getBgColor()">
  <a
    *ngIf="useAbsoluteValue; else relativeValue"
    aria-label="Open resource utilization detail"
    i18n-aria-label="button name"
    [routerLink]="['./detail']"
    [queryParams]="getQueryParams()"
  >
    {{ cellData.usedCapacity + "/" + cellData.totalCapacity }}
  </a>
  <ng-template #relativeValue>
    <a
      aria-label="Open resource utilization detail"
      i18n-aria-label="button name"
      [routerLink]="['./detail']"
      [queryParams]="getQueryParams()"
      >{{ percentage | percentage }}</a
    >
  </ng-template>
</div>
