<header>
  <mat-toolbar>
    <div class="res-container fx-center-vert">
      <!-- Logo -->
      <a href="/">
        <img src="assets/img/meetings_RGB.png" alt="Cesnet Meetings" />
      </a>

      <nav class="fx-center-vert">
        <!-- Big layout menu -->
        <ul>
          <li *ngFor="let item of filterAuthorizedItems(menuItems)" fxHide.lt-md>
            <a mat-button *ngIf="!item.subItems; else itemWithSubMenu">{{ item.label }}</a>

            <ng-template #itemWithSubMenu>
              <button mat-button [matMenuTriggerFor]="popupSubMenu">{{ item.label }}<mat-icon>arrow_drop_down</mat-icon></button>

              <mat-menu #popupSubMenu="matMenu">
                <button mat-menu-item *ngFor="let subItem of filterAuthorizedItems(item.subItems)">{{ subItem.label }}</button>
              </mat-menu>
            </ng-template>
          </li>
        </ul>

        <button mat-icon-button fxHide fxShow.lt-md (click)="toggleDropdown()">
          <mat-icon>menu</mat-icon>
        </button>
      </nav>

      <div class="spacer"></div>

      <!-- i18n language changer -->
      <button mat-icon-button [matMenuTriggerFor]="languageMenu">
        <img [src]="defaultLocale.icon" [alt]="defaultLocale.name" width="20px">
      </button>
      <mat-menu #languageMenu="matMenu">
        <button mat-menu-item *ngFor="let locale of locales">
          <img [src]="locale.icon" [alt]="locale.name" width="20px" class="locale-menu-icon">
          <span>{{ locale.name }}</span>
        </button>
      </mat-menu>

      <!-- Account menu -->
      <ng-container *ngIf="userLoggedIn; else loggedOutFallback">
        <button mat-button [matMenuTriggerFor]="accountSubMenu" fxHide.lt-sm>
          <span class="fx-center-vert">
            <mat-icon class="icon-xs">account_circle</mat-icon>
            &nbsp;Username&nbsp;
            <mat-icon>arrow_drop_down</mat-icon>
          </span>
        </button>
  
        <button mat-icon-button [matMenuTriggerFor]="accountSubMenu" fxHide fxShow.lt-sm>
          <mat-icon>account_circle</mat-icon>
        </button>
  
        <mat-menu #accountSubMenu="matMenu">
          <button mat-menu-item *ngFor="let item of accountItems">{{ item.label }}</button>
        </mat-menu>
      </ng-container>

      <ng-template #loggedOutFallback>
        <button mat-button (click)="login()" i18n="navbar button|Log in button">Přihlásit se</button>
      </ng-template>

    </div>
  </mat-toolbar>

  <!-- Small layout menu -->
  <ul id="dropdown-menu" fxHide fxShow.lt-md [@dropdown]="isDropdownClosed ? 'closed' : 'open'">
    <ng-container *ngFor="let item of filterAuthorizedItems(menuItems)">
      <li>
        <a matRipple [matRippleCentered]="true" *ngIf="!item.subItems; else compactItemWithSubMenu">{{ item.label }}</a>
  
        <ng-template #compactItemWithSubMenu>
          <button mat-ripple (click)="item.subMenuOpen = !item.subMenuOpen" class="mat-body">{{ item.label }}<mat-icon>arrow_drop_down</mat-icon></button>
        </ng-template>
      </li>
      <div [@dropdown]="item.subMenuOpen ? 'open' : 'closed'" >
        <li class="subItem">
          <a matRipple [matRippleCentered]="true" *ngFor="let subItem of filterAuthorizedItems(item.subItems)">{{ subItem.label }}</a>
        </li>
      </div>
    </ng-container>
  </ul>
</header>