<header *ngIf="{ isAuthenticated: auth.isAuthenticated$ | async } as authData">
  <mat-toolbar class="header-toolbar">
    <div class="res-container fx-center-vert">
      <!-- Logo -->
      <a routerLink="/">
        <img
          src="assets/img/meetings_RGB.png"
          alt="Cesnet Meetings"
          width="116px"
          height="50px"
        />
      </a>

      <nav class="fx-center-vert">
        <!-- Big layout menu -->
        <ul>
          <li
            *ngFor="
              let item of filterAuthorizedItems(
                menuItems,
                authData.isAuthenticated!
              )
            "
            [fxHide.lt-lg]="item.hideOnTablet"
            fxHide.lt-md
          >
            <ng-container *ngIf="!item.subItems; else itemWithSubMenu">
              <ng-container
                *ngTemplateOutlet="linkButton; context: { item: item }"
              ></ng-container>
            </ng-container>

            <ng-template #itemWithSubMenu>
              <button mat-button [matMenuTriggerFor]="popupSubMenu">
                {{ item.label }}<mat-icon>arrow_drop_down</mat-icon>
              </button>

              <mat-menu #popupSubMenu="matMenu">
                <ng-container
                  *ngFor="
                    let subItem of filterAuthorizedItems(
                      item.subItems,
                      authData.isAuthenticated!
                    )
                  "
                >
                  <a mat-menu-item [routerLink]="subItem.route">{{
                    subItem.label
                  }}</a>
                </ng-container>
              </mat-menu>
            </ng-template>
          </li>
        </ul>

        <button mat-icon-button fxHide fxShow.lt-lg (click)="toggleDropdown()">
          <mat-icon>menu</mat-icon>
        </button>
      </nav>

      <div class="spacer"></div>

      <!-- i18n language changer -->
      <button mat-icon-button [matMenuTriggerFor]="languageMenu">
        <img
          [src]="defaultLocale.icon"
          [alt]="defaultLocale.name"
          width="20px"
        />
      </button>
      <mat-menu #languageMenu="matMenu">
        <button mat-menu-item *ngFor="let locale of locales">
          <img
            [src]="locale.icon"
            [alt]="locale.name"
            width="20px"
            height="13.33px"
            class="locale-menu-icon"
          />
          <span>{{ locale.name }}</span>
        </button>
      </mat-menu>

      <!-- Account menu -->
      <ng-container
        *ngIf="auth.isAuthenticated$ | async; else loggedOutFallback"
      >
        <button mat-button [matMenuTriggerFor]="accountSubMenu" fxHide.lt-sm>
          <span class="fx-center-vert">
            <mat-icon class="icon-xs">account_circle</mat-icon>
            {{ "&nbsp;" + (getUsername() | appShortString: 15) + "&nbsp;" }}
            <mat-icon>arrow_drop_down</mat-icon>
          </span>
        </button>

        <button
          mat-icon-button
          [matMenuTriggerFor]="accountSubMenu"
          fxHide
          fxShow.lt-sm
        >
          <mat-icon>account_circle</mat-icon>
        </button>

        <mat-menu #accountSubMenu="matMenu">
          <ng-container *ngFor="let item of accountItems">
            <ng-container
              [ngTemplateOutlet]="item.route ? linkItem : buttonItem"
              [ngTemplateOutletContext]="{ item: item }"
            >
            </ng-container>
          </ng-container>

          <ng-template #linkItem let-item="item">
            <a mat-menu-item [href]="item.route">{{ item.label }}</a>
          </ng-template>

          <ng-template #buttonItem let-item="item">
            <button mat-menu-item (click)="item.func()">
              {{ item.label }}
            </button>
          </ng-template>
        </mat-menu>
      </ng-container>

      <ng-template #loggedOutFallback>
        <button mat-button (click)="logIn()" i18n="navbar button|Log in button">
          Log in
        </button>
      </ng-template>
    </div>
  </mat-toolbar>

  <!-- Small layout menu -->
  <ul id="dropdown-menu" [@dropdown]="isDropdownClosed ? 'closed' : 'open'">
    <ng-container
      *ngFor="
        let item of filterAuthorizedItems(menuItems, authData.isAuthenticated!)
      "
    >
      <li fxHide fxShow.lt-md [fxShow.lt-lg]="item.hideOnTablet">
        <ng-container *ngIf="!item.subItems; else compactItemWithSubMenu">
          <div matRipple [matRippleCentered]="true">
            <ng-container
              *ngTemplateOutlet="linkButton; context: { item: item }"
            ></ng-container>
          </div>
        </ng-container>

        <ng-template #compactItemWithSubMenu>
          <button
            mat-ripple
            (click)="item.subMenuOpen = !item.subMenuOpen"
            class="mat-body"
          >
            {{ item.label }}<mat-icon>arrow_drop_down</mat-icon>
          </button>
        </ng-template>
      </li>
      <li
        class="subItem"
        [@dropdown]="item.subMenuOpen ? 'open' : 'closed'"
        *ngFor="
          let subItem of filterAuthorizedItems(
            item.subItems,
            authData.isAuthenticated!
          )
        "
      >
        <ng-container
          *ngTemplateOutlet="linkButton; context: { item: subItem }"
        ></ng-container>
      </li>
    </ng-container>
  </ul>
</header>

<ng-template #linkButton let-item="item">
  <a mat-button [href]="item.route" *ngIf="item.externalRoute">{{
    item.label
  }}</a>
  <a mat-button [routerLink]="item.route" *ngIf="!item.externalRoute">{{
    item.label
  }}</a>
</ng-template>
