<div class="filter">
  <form [formGroup]="filterForm" class="filter__form">
    <div class="filter__field-group">
      <!-- Technology -->
      <mat-form-field appearance="outline" class="filter__field">
        <mat-label i18n="field label">Technology</mat-label>
        <mat-select formControlName="technology">
          <mat-option
            *ngFor="let option of technologyOptions"
            [value]="option.value"
            >{{ option.displayName }}</mat-option
          >
        </mat-select>
      </mat-form-field>

      <!-- Search -->
      <mat-form-field
        appearance="outline"
        *ngIf="showAdvancedFilter"
        class="filter__field"
      >
        <mat-label i18n="field label">Search</mat-label>
        <input type="text" matInput formControlName="search" />
      </mat-form-field>
    </div>

    <div class="filter__field-group">
      <!-- Date from -->
      <mat-form-field
        appearance="outline"
        *ngIf="showAdvancedFilter"
        class="filter__field"
      >
        <mat-label i18n="field label:From date">From</mat-label>
        <input
          matInput
          [matDatepicker]="dateFromPicker"
          formControlName="dateFrom"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="dateFromPicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #dateFromPicker></mat-datepicker>
      </mat-form-field>

      <!-- Date to -->
      <mat-form-field
        appearance="outline"
        *ngIf="showAdvancedFilter"
        class="filter__field"
      >
        <mat-label i18n="field label:To date">To</mat-label>
        <input
          matInput
          [matDatepicker]="dateToPicker"
          formControlName="dateTo"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="dateToPicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #dateToPicker></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="filter__field-group">
      <!-- Show failed rooms -->
      <mat-checkbox
        formControlName="showFailedRooms"
        color="primary"
        class="filter__checkbox"
        i18n="checkbox label"
        >Show failed rooms</mat-checkbox
      >
    </div>
  </form>

  <div class="buttons">
    <button
      mat-stroked-button
      color="primary"
      (click)="toggleAdvancedFilter()"
      class="buttons__button"
    >
      <span
        *ngIf="showAdvancedFilter; else hiddenAdvancedFilter"
        i18n="button name"
        >Hide advanced filter</span
      >
      <ng-template #hiddenAdvancedFilter>
        <span i18n="button name">Show advanced filter</span>
      </ng-template>
    </button>
  </div>
</div>
