.filter {
  display: flex;
  justify-content: space-between;
  padding-top: var(--form-field-padding-bottom);

  &__form,
  &__field-group {
    display: flex;
    gap: 1em;
    align-items: center;
  }

  &__form {
    flex-wrap: wrap;
  }

  &__field {
    width: 13em;
  }

  &__checkbox {
    margin: var(--form-field-margin);
    padding-bottom: var(--form-field-padding-bottom);
  }
}

.buttons {
  display: flex;
  align-items: center;
  margin-bottom: var(--form-field-padding-bottom);

  &__button {
    min-width: 10em;
  }
}

// Media queries
@media only screen and (max-width: 1035px) {
  .filter__form {
    gap: 0;
    flex-direction: column;
    align-items: flex-start;
  }
}
@media only screen and (max-width: 600px) {
  .filter {
    flex-direction: column-reverse;
  }
}
@media only screen and (max-width: 435px) {
  .filter {
    &__field-group {
      width: 100%;
      flex-wrap: wrap;
      gap: 0;
    }

    &__field {
      width: 100%;
    }

    &__checkbox {
      margin: 0 1em 1em 0;
      padding-bottom: 0;
    }
  }

  .buttons {
    &__button {
      flex: 1;
    }
  }
}
