<div class="table-filter">
  <form [formGroup]="filterForm">
    <div class="field-group">
      <!-- Technology -->
      <mat-form-field appearance="outline">
        <mat-label>Technology</mat-label>
        <mat-select formControlName="technology">
          <mat-option
            *ngFor="let option of technologyOptions"
            [value]="option.value"
            >{{ option.displayName }}</mat-option
          >
        </mat-select>
      </mat-form-field>

      <!-- Search -->
      <mat-form-field appearance="outline" *ngIf="showAdvancedFilter">
        <mat-label>Search</mat-label>
        <input type="text" matInput formControlName="search" />
      </mat-form-field>
    </div>

    <div class="field-group">
      <!-- Date from -->
      <mat-form-field appearance="outline" *ngIf="showAdvancedFilter">
        <mat-label>From</mat-label>
        <input
          matInput
          [matDatepicker]="dateFromPicker"
          formControlName="dateFrom"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="dateFromPicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #dateFromPicker></mat-datepicker>
      </mat-form-field>

      <!-- Date to -->
      <mat-form-field appearance="outline" *ngIf="showAdvancedFilter">
        <mat-label>To</mat-label>
        <input
          matInput
          [matDatepicker]="dateToPicker"
          formControlName="dateTo"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="dateToPicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #dateToPicker></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="field-group">
      <!-- Show failed rooms -->
      <mat-checkbox formControlName="showFailedRooms" color="primary"
        >Show failed rooms</mat-checkbox
      >

      <!-- Show capacities -->
      <mat-checkbox formControlName="showCapacity" color="primary"
        >Show capacities</mat-checkbox
      >
    </div>
  </form>

  <div class="buttons">
    <button mat-stroked-button color="primary" (click)="toggleAdvancedFilter()">
      {{ showAdvancedFilter ? "Hide advanced filter" : "Show advanced filter" }}
    </button>
  </div>
</div>
