.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  app-footer {
    margin-top: auto;
  }
}
.loading-display {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
main {
  padding-top: 3rem;
}
