<form [formGroup]="settingsForm" class="advanced-settings">
  <div class="advanced-settings__tag-type">
    <h2 i18n="tag name">Notify e-mails:</h2>

    <div *ngFor="let tag of notifyEmailTags" class="advanced-settings__tag">
      <mat-slide-toggle
        *ngIf="getNotifyEmailsControl(tag.id) as control"
        i18n="toggle label"
        class="advanced-settings__enabled-toggle"
        [formControl]="control.controls.enabled"
        >Enabled</mat-slide-toggle
      >

      <mat-form-field appearance="outline" class="advanced-settings__tag-field">
        <mat-label>{{ tag.name }}</mat-label>

        <mat-chip-grid #chipGrid>
          <mat-chip-row
            *ngFor="let email of settingsForm.value.notifyEmails![tag.id]?.data"
            (removed)="removeEmail(tag.id, email)"
            [editable]="true"
            (edited)="editEmail(tag.id, email, $event, chipGrid)"
          >
            {{ email }}
            <button *ngIf="!isDefaultEmail(email, tag)" matChipRemove>
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip-row>

          <input
            placeholder="New email..."
            i18n-placeholder="placeholder|Placeholder for email tag input"
            type="email"
            [matChipInputFor]="chipGrid"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="false"
            (matChipInputTokenEnd)="addEmail(tag.id, $event, chipGrid)"
          />
        </mat-chip-grid>

        <mat-error i18n="error message|Error message for email tag input"
          >Value must be an e-mail</mat-error
        >
        <mat-hint i18n="hint message|Hint message for email tag input"
          >Enter e-mail and press enter</mat-hint
        >
      </mat-form-field>
    </div>
  </div>
</form>
