<div class="calendar-paginator">
  <button
    mat-icon-button
    aria-label="Previous"
    mwlCalendarPreviousView
    [view]="view"
    [viewDate]="viewDate"
    (viewDateChange)="onViewDateChange($event)"
  >
    <mat-icon>navigate_before</mat-icon>
  </button>
  <button
    mat-button
    mwlCalendarToday
    [viewDate]="viewDate"
    (viewDateChange)="onViewDateChange($event)"
  >
    Today
  </button>
  <button
    mat-icon-button
    aria-label="Previous"
    mwlCalendarNextView
    [view]="view"
    [viewDate]="viewDate"
    (viewDateChange)="onViewDateChange($event)"
  >
    <mat-icon>navigate_next</mat-icon>
  </button>
</div>
