@import "./mobile-table-row.scss";

.mobile-table-sort {
  display: none;
}

@media (max-width: 768px) {
  .mobile-table-sort {
    @include styled-row;
    display: block;
  }

  [appMatTableResponsive] {
    &.table-container {
      padding: 5px !important;
      background: none !important;
      box-shadow: none !important;
    }
    .mat-table {
      background: none;
    }

    .mat-header-row {
      display: none;
    }

    .mat-row {
      height: auto;
      display: block;
      margin: 20px 0;
      @include styled-row;

      td.mat-cell:last-child {
        border: none;
      }

      td.mat-cell:not(.mat-column-actions) {
        display: grid;
        grid-template-columns: 50% 50%;
        padding: 0.5rem;
        text-align: right;
        word-break: break-word;
        color: rgb(100, 100, 100);

        & > * {
          grid-column: 2;
        }

        &:before {
          content: attr(data-column-name);
          display: flex;
          align-items: center;
          text-align: left;
          font-weight: 600;
          color: rgb(70, 70, 70);
        }
      }

      td.mat-column-actions {
        display: flex;
        justify-content: center;
        padding: 0 0.5rem;

        & > button {
          margin: 0.5rem 0;
        }
      }

      &:last-of-type td:last-of-type {
        border: none;
      }
    }

    .mat-card,
    .mat-expansion-panel {
      .mat-table[matTableResponsive] {
        border: 0.5rem solid #fafafa;
      }
    }

    mat-paginator {
      @include styled-row;

      &.extra-gap {
        margin-top: 20px;
      }
    }

    header,
    .no-data,
    .loading {
      background: white;
      box-shadow: $table-card-shadow;
      border-radius: 10px;
      padding: 20px;
      margin-bottom: 20px;
    }

    .custom-column {
      display: flex;
      justify-content: flex-end;
    }
  }
}
