<!-- Header -->
<header *ngIf="!(auth.isAuthenticated$ | async)">
  <h1 i18n="page header">Welcome to CESNET Meetings reservation system</h1>

  <p>
    <span i18n="paragraph">You can send your suggestions to</span>&nbsp;<a
      href="mailto:vidcon@cesnet.cz"
      class="mat-primary-color"
      >vidcon@cesnet.cz</a
    >.
  </p>
  <p i18n="paragraph">
    Personal Data Protection in CESNET e‑infrastructure and other CESNET
    services terms can be found
    <a
      href="https://www.cesnet.cz/cesnet/documents/privacy/?lang=en"
      target="_blank"
      class="mat-primary-color"
      >here</a
    >.
  </p>

  <button
    mat-flat-button
    color="primary"
    i18n="button text"
    class="login-button"
    (click)="auth.login()"
  >
    Log in
  </button>
</header>

<!-- Main content -->
<main *ngIf="auth.isAuthenticated$ | async">
  <div>
    <mat-tab-group
      [animationDuration]="0"
      [(selectedIndex)]="tabIndex"
      (selectedIndexChange)="onTabIndexChange($event)"
    >
      <!-- Reservation requests -->
      <mat-tab
        label="Your videoconference rooms"
        i18n-label="tab label|Label for your rooms table component"
      >
        <div class="tab-content">
          <app-data-table
            [dataSource]="yourRoomsDataSource"
            description="List of rooms which you own or which have been made accessible to you by other users."
            i18n-description="table description"
          >
          </app-data-table>
        </div>
      </mat-tab>

      <!-- Room participations -->
      <mat-tab
        label="Your participation in videoconference rooms"
        i18n-label="tab label|Label for your participation table component"
      >
        <div class="tab-content">
          <app-data-table
            [dataSource]="participationInRoomsDataSource"
            [showCheckboxes]="false"
            [showDeleteButtons]="false"
            description="List of rooms which you can join."
            i18n-description="table description"
          ></app-data-table>
        </div>
      </mat-tab>

      <!-- Meeting room reservations -->
      <mat-tab
        label="Your physical resource reservations"
        i18n-label="
          tab label|Label for your resource reservations table component
        "
      >
        <div class="tab-content">
          <app-data-table
            [dataSource]="physicalReservationsDataSource"
            description="All reservations of physical resources."
            i18n-description="table description"
          ></app-data-table>
        </div>
      </mat-tab>

      <!-- Reservation calendar -->
      <mat-tab
        label="Physical resource reservation calendar"
        i18n-label="tab label|Label for reservation calendar component"
      >
        <div class="tab-content">
          <app-reservation-calendar-tab></app-reservation-calendar-tab>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</main>
