<header>
  <h1>Main page</h1>
  <p>
    Welcome to reservation system for H.323/SIP and Adobe Connect virtual rooms.
  </p>
  <p>
    You can send your suggestions to
    <a href="mailto:vidcon@cesnet.cz" class="mat-primary-color"
      >vidcon@cesnet.cz</a
    >.
  </p>
  <p>
    Terms and conditions under which personal data collated in providing the
    CESNET e-infrastructure services are processed you can find
    <a
      href="https://www.cesnet.cz/cesnet/documents/privacy/?lang=en"
      target="_blank"
      >here</a
    >.
  </p>
</header>

<main>
  <div>
    <mat-tab-group [animationDuration]="0">
      <!-- Reservation requests -->
      <mat-tab
        label="Your rooms"
        i18n-label="Home page tab label|Label for your rooms table component"
      >
        <ng-template matTabContent>
          <div class="tab-content">
            <app-data-table
              [dataSource]="yourRoomsDataSource"
              header="List of rooms which you own or which have been made accessible to you by other users."
            >
              <app-reservation-request-filter
                #tableFilter
              ></app-reservation-request-filter>
            </app-data-table>
          </div>
        </ng-template>
      </mat-tab>

      <!-- Room participations -->
      <mat-tab
        label="Your participation in rooms"
        i18n-label="
          Home page tab label|Label for your participation table component
        "
      >
        <ng-template matTabContent>
          <div class="tab-content">
            <app-data-table
              [dataSource]="participationInRoomsDataSource"
              [showDeleteButtons]="false"
              header="List of rooms in which you are configured as participant and which you can join."
            ></app-data-table>
          </div>
        </ng-template>
      </mat-tab>

      <!-- Meeting room reservations -->
      <mat-tab
        label="Your phys. resources reservations"
        i18n-label="
          Home page tab label|Label for your resource reservations table
          component
        "
      >
        <ng-template matTabContent>
          <div class="tab-content">
            <app-data-table
              [dataSource]="physicalReservationsDataSource"
              header="All reservations of resource."
            ></app-data-table>
          </div>
        </ng-template>
      </mat-tab>

      <!-- Reservation calendar -->
      <mat-tab
        label="Reservations calendar"
        i18n-label="
          Home page tab label|Label for reservation calendar component
        "
      >
        <ng-template matTabContent>
          <div class="tab-content">
            <app-reservation-calendar></app-reservation-calendar>
          </div>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>
</main>
