/* Layout */
.calendar {
  font-size: 1rem;

  &__header {
    padding-bottom: 1.5em;
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  &__options,
  &__navigation {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  &__options {
    justify-content: flex-end;
    gap: 1em;
  }

  &__navigation {
    justify-content: space-between;
  }
}

@media only screen and (max-width: 600px) {
  .calendar__view-date {
    font-size: var(--font-size-large);
    order: 3;
    width: 100%;
    text-align: center;
    margin-top: 1.5em;
  }
}

@media only screen and (max-width: 420px) {
  .calendar__options {
    display: flex;
    text-align: center;
  }
  .calendar__navigation,
  .calendar__options {
    flex-direction: column;
    align-items: center;
  }
}
