<mat-card>
  <header>
    <span>{{ selectedResourceId }}</span>
    <form class="room-options" [formGroup]="filterGroup">
      <button mat-button (click)="calendar.refresh()" type="button">
        <mat-icon>refresh</mat-icon> Refresh
      </button>
      <mat-checkbox color="primary" formControlName="highlightMine"
        >Highlight your reservations</mat-checkbox
      >
      <mat-form-field>
        <mat-label>Physical resource</mat-label>
        <mat-select
          #resourceSelect
          formControlName="resource"
          (valueChange)="calendar.fetchReservations()"
        >
          <mat-option>
            <ngx-mat-select-search
              formControlName="resourceFilter"
              placeholderLabel="Search..."
              noEntriesFoundLabel="No resources found"
            ></ngx-mat-select-search>
          </mat-option>
          <mat-option
            *ngFor="let resource of filteredResources"
            [value]="resource.id"
          >
            {{ resource.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>

    <section class="calendar-options">
      <!-- Calendar view selection -->
      <div class="btn-group">
        <mat-button-toggle-group
          name="calendarView"
          aria-label="Calendar view selection"
          [(value)]="calendar.view"
        >
          <mat-button-toggle [value]="CalendarView.Day">Day</mat-button-toggle>
          <mat-button-toggle [value]="CalendarView.Week"
            >Week</mat-button-toggle
          >
          <mat-button-toggle [value]="CalendarView.Month"
            >Month</mat-button-toggle
          >
        </mat-button-toggle-group>
      </div>

      <h1>
        {{ calendar.viewDate | calendarDate: calendar.view + "ViewTitle" }}
      </h1>

      <div class="btn-group">
        <mat-button-toggle-group
          name="viewPagination"
          aria-label="Calendar pagination"
        >
          <mat-button-toggle
            mwlCalendarPreviousView
            [view]="calendar.view"
            [(viewDate)]="calendar.viewDate"
            (viewDateChange)="calendar.refresh()"
            ><mat-icon>chevron_left</mat-icon></mat-button-toggle
          >
          <mat-button-toggle
            mwlCalendarToday
            [(viewDate)]="calendar.viewDate"
            (viewDateChange)="calendar.refresh()"
            >Now</mat-button-toggle
          >
          <mat-button-toggle
            mwlCalendarNextView
            [view]="calendar.view"
            [(viewDate)]="calendar.viewDate"
            (viewDateChange)="calendar.refresh()"
            ><mat-icon>chevron_right</mat-icon></mat-button-toggle
          >
        </mat-button-toggle-group>
      </div>
    </section>
  </header>

  <app-reservation-calendar
    #calendar
    [selectedResourceId]="resourceSelect.value"
  ></app-reservation-calendar>
</mat-card>
