@import '/src/app/styles/static-variables';

/* Layout */
.calendar {
  font-size: 1rem;

  &__header {
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  &__navigation,
  &__options {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  &__options {
    justify-content: flex-end;
    align-items: center;
    gap: 1em;
  }

  &__options-left {
    display: flex;
    align-items: center;
    gap: 1em;
  }

  &__navigation {
    justify-content: space-between;
  }

  &__datepicker-input {
    visibility: hidden;
    width: 0;
    height: 0;
  }

  &__view-date {
    margin: 0;
  }

  &__sidebar {
    display: block;
    padding-right: 1em;
    height: 100%;
    overflow-y: scroll;
  }

  &__drawer {
    border: none;
  }
}

@media only screen and (max-width: $breakpoint-s) {
  .calendar {
    &__view-date {
      font-size: var(--font-size-large);
      order: 3;
      width: 100%;
      text-align: center;
      margin-top: 0.5em;
    }

    &__options {
      justify-content: space-between;
    }
  }
}

@media only screen and (max-width: 500px) {
  .calendar {
    &__options {
      flex-direction: column-reverse;
    }

    &__options-left,
    &__options-right {
      width: 100%;
    }

    &__options-left {
      justify-content: space-between;
    }

    &__resource-selection {
      width: 100%;
    }

    &__navigation {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      grid-template-areas:
        'datepicker paginator'
        'date date';
    }

    &__datepicker {
      grid-area: datepicker;
      justify-self: start;
    }

    &__paginator {
      grid-area: paginator;
      justify-self: end;
    }

    &__view-date {
      grid-area: date;
      justify-self: center;
    }
  }
}

@media only screen and (max-width: 425px) {
  .calendar__navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
