<mat-card class="calendar">
  <header class="calendar__header">
    <section class="calendar__navigation">
      <div class="calendar__options-left">
        <!-- Burger menu icon -->
        <button
          mat-icon-button
          (click)="drawer.toggle()"
          aria-label="Toggle side drawer"
          i18n-aria-label="button name"
        >
          <mat-icon>menu</mat-icon>
        </button>

        <app-calendar-view-selection
          *ngIf="(isTabletSize$ | async) === false; else jumpToDate"
          [selectedView]="calendar.view"
          (viewSelected)="calendar.view = $event"
        ></app-calendar-view-selection>
      </div>

      <ng-template #jumpToDate>
        <app-jump-to-date
          (dateSelected)="onDateSelection($event)"
        ></app-jump-to-date>
      </ng-template>

      <h1 class="calendar__view-date">
        {{ calendar.viewDate | calendarDate : calendar.view + 'ViewTitle' }}
      </h1>

      <app-calendar-paginator
        class="calendar__paginator"
        [view]="calendar.view"
        [viewDate]="calendar.viewDate"
        (viewDateChange)="calendar.viewDate = $event"
      ></app-calendar-paginator>
    </section>
  </header>

  <mat-card-content>
    <mat-drawer-container autosize>
      <mat-drawer
        #drawer
        [mode]="(isTabletSize$ | async) ? 'over' : 'side'"
        opened
        class="calendar__drawer"
      >
        <div class="calendar__sidebar custom-scrollbar">
          <app-calendar-sidebar
            [restrictToType]="restrictToType"
            [calendar]="calendar"
            [selectedResource]="selectedResource"
            [selectedSlot]="selectedSlot"
            (displayedResourcesChange)="onDisplayedResourcesChange($event)"
            (selectedResourceChange)="onSelectedResourceChange($event)"
          ></app-calendar-sidebar>
        </div>
      </mat-drawer>

      <mat-drawer-content>
        <shongo-calendar
          #calendar
          (loadData)="onIntervalChange($event)"
          (itemClicked)="onItemClick($event)"
          (slotSelected)="selectedSlot = $event"
          [allowSlotSelection]="true"
          [items]="(calendarRequest$ | async)!.data"
          [loading]="
            (calendarRequest$ | async)!.state === ERequestState.LOADING
          "
          [currentUser]="currentUser"
          [fill]="false"
        ></shongo-calendar>
      </mat-drawer-content>
    </mat-drawer-container>
  </mat-card-content>
</mat-card>
