@import '/src/app/styles/static-variables';

/* Layout */
.reservation-detail {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;

  &__main,
  &__aside {
    flex: 1;
  }

  &__aside {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
}

.help-icon {
  margin-bottom: 3px;
}

@media only screen and (max-width: $breakpoint-m) {
  .reservation-detail {
    flex-direction: column;
  }
}
