<div
  class="reservation-detail"
  *ngIf="currentRequest$ | async as currentRequest"
>
  <main class="reservation-detail__main">
    <header>
      <h2 class="mat-primary-color" i18n="heading">Detail</h2>
    </header>

    <dl class="definition-list definition-list--flex">
      <!-- Type -->
      <ng-container *ngIf="currentRequest.type as type">
        <dt i18n="definition tag">Type:</dt>
        <dd>{{ requestTypeMap.get(type) }}</dd>
      </ng-container>

      <!-- Parent request -->
      <ng-container *ngIf="currentRequest.parentRequestId">
        <dt i18n="definition tag">Event from request:</dt>
        <dd>
          <a
            [routerLink]="
              '/reservation-request/' + currentRequest.parentRequestId
            "
            >{{ currentRequest.parentRequestId }}</a
          >
        </dd>
      </ng-container>

      <!-- Time slot -->
      <ng-container *ngIf="currentRequest.slot as slot">
        <dt>
          <span
            *ngIf="
              currentRequest.allocationState === AllocationState.ALLOCATED;
              else requestedTimeSlotTag
            "
            i18n="definition tag"
          >
            Allocated time slot
          </span>
          <ng-template #requestedTimeSlotTag>
            <span i18n="definition tag">Requested time slot:</span>
          </ng-template>
        </dt>
        <dd>
          {{
            (slot.start | date: "medium") + " - " + (slot.end | date: "medium")
          }}
        </dd>
      </ng-container>

      <!-- Description -->
      <ng-container *ngIf="currentRequest.description">
        <dt i18n="definition tag">Description:</dt>
        <dd>{{ currentRequest.description }}</dd>
      </ng-container>

      <!-- State -->
      <ng-container *ngIf="currentRequest.state as state">
        <dt>
          <span i18n="definition tag">State:</span
          ><button
            mat-icon-button
            aria-label="Open help"
            i18n-aria-label="button name"
            class="help-icon-button"
            (click)="openStateHelp()"
          >
            <mat-icon>help</mat-icon>
          </button>
        </dt>
        <dd>
          <app-state-chip
            *ngIf="getStateProps(state) as props"
            [state]="props.displayName"
            [color]="props.color"
          ></app-state-chip>
        </dd>
      </ng-container>

      <!-- Created at -->
      <ng-container *ngIf="currentRequest.createdAt as createdAt">
        <dt i18n="definition tag">Created at:</dt>
        <dd>{{ createdAt }}</dd>
      </ng-container>

      <ng-container
        *ngIf="
          currentRequest.notifyParticipants !== null &&
          currentRequest.notifyParticipants !== undefined
        "
      >
        <dt>
          <span i18n="definition tag">Notify participants:</span
          ><button
            #tooltip="matTooltip"
            mat-icon-button
            aria-label="Open help"
            i18n-aria-label="button name"
            class="help-icon-button"
            matTooltip="Specifies whether participants receive e-mail notification to the meeting in the room, notifications about room changes and notification when room becomes available to join."
            i18n-matTooltip="help message"
            matTooltipPosition="right"
            (click)="tooltip.toggle()"
          >
            <mat-icon>help</mat-icon>
          </button>
        </dt>
        <dd>
          <span *ngIf="currentRequest.notifyParticipants; else no" i18n
            >Yes</span
          >
        </dd>
      </ng-container>

      <!-- Periodicity -->
      <ng-container
        *ngIf="
          isPeriodicityShown() &&
          currentRequest.roomCapacityData?.periodicity as periodicity
        "
      >
        <dt i18n="definition tag">Periodicity</dt>
        <dd>
          <span [ngSwitch]="periodicity.type">
            <span
              *ngSwitchCase="PeriodicityType.DAILY"
              i18n="periodicity option"
              >Daily</span
            >
            <span *ngSwitchCase="PeriodicityType.WEEKLY">
              {{ getWeeklyPeriodicityString(periodicity) }}
            </span>
            <span *ngSwitchCase="PeriodicityType.MONTHLY">
              {{ getMonthlyPeriodicityString(periodicity) }}
            </span>
            <span *ngSwitchDefault i18n="periodicity option">None</span>
          </span>

          <span
            *ngIf="
              periodicity.periodicityEnd &&
              periodicity.type !== PeriodicityType.NONE
            "
          >
            <i class="grayed-text" i18n="note"
              >(until {{ periodicity.periodicityEnd | date }})</i
            >
          </span>
        </dd>
        <ng-container
          *ngIf="
            periodicity.excludeDates && periodicity.excludeDates.length !== 0
          "
        >
          <dt i18n="definition tag">Exclude dates:</dt>
          <dd>
            <span *ngFor="let date of periodicity.excludeDates; index as i">
              {{ date | date }}
              <br *ngIf="i !== periodicity.excludeDates.length - 1" />
            </span>
          </dd>
        </ng-container>
      </ng-container>

      <!-- Physical resource -->
      <ng-container
        *ngIf="
          currentRequest.type === ReservationType.PHYSICAL_RESOURCE &&
          currentRequest.physicalResourceData as physicalResData
        "
      >
        <!-- Resource name -->
        <ng-container *ngIf="physicalResData.resourceName as resourceName">
          <dt i18n="definition tag">Resource name:</dt>
          <dd>{{ resourceName }}</dd>
        </ng-container>

        <!-- Resource description -->
        <ng-container
          *ngIf="physicalResData.resourceDescription as description"
        >
          <dt i18n="definition tag">Resource description:</dt>
          <dd>
            {{ description }}
          </dd>
        </ng-container>
      </ng-container>

      <!-- Virtual room -->
      <ng-container *ngIf="currentRequest.virtualRoomData">
        <!-- Technology -->
        <ng-container
          *ngIf="currentRequest.virtualRoomData.technology as technology"
        >
          <dt i18n="definition tag">Technology</dt>
          <dd>
            <span
              *ngIf="
                technologyMap.get(technology) as technology;
                else unknownTechnology
              "
              >{{ technology }}</span
            >
            <ng-template #unknownTechnology>
              <span i18n="definition data">Unknown technology</span>
            </ng-template>
          </dd></ng-container
        >

        <!-- Room name -->
        <ng-container
          *ngIf="
            currentRequest?.virtualRoomData?.roomName &&
            currentRequest.type !== ReservationType.ROOM_CAPACITY
          "
        >
          <dt i18n="definition tag">Room name:</dt>
          <dd>{{ currentRequest.virtualRoomData.roomName }}</dd>
        </ng-container>
      </ng-container>

      <!-- Room capacity -->
      <ng-container
        *ngIf="
          currentRequest.type === ReservationType.ROOM_CAPACITY &&
          currentRequest.roomCapacityData as capacityData
        "
      >
        <!-- Reservation request ID -->
        <dt i18n="definition tag">For virtual room:</dt>
        <dd *ngIf="capacityData.roomReservationRequestId; else noResReqId">
          <a
            [routerLink]="
              '/reservation-request/' + capacityData.roomReservationRequestId
            "
          >
            <span
              *ngIf="
                reservationRequest?.virtualRoomData?.roomName as roomName;
                else undefinedRoomName
              "
            >
              {{ roomName }}
            </span>
          </a>
        </dd>
        <ng-template #noResReqId>
          <dd>
            <span
              *ngIf="
                currentRequest?.virtualRoomData?.roomName as roomName;
                else undefinedRoomName
              "
              >{{ roomName }}</span
            >
          </dd>
        </ng-template>

        <!-- Participant count -->
        <ng-container
          *ngIf="
            currentRequest.virtualRoomData?.technology !== Technology.FREEPBX &&
            capacityData.capacityParticipantCount as participantCount
          "
        >
          <dt i18n="definition tag">Number of participants:</dt>
          <dd>{{ participantCount }}</dd>
        </ng-container>

        <!-- Record -->
        <ng-container
          *ngIf="
            currentRequest.virtualRoomData?.technology !==
              Technology.ADOBE_CONNECT &&
            currentRequest.virtualRoomData?.technology !== Technology.FREEPBX
          "
        >
          <dt i18n="definition tag">Record:</dt>
          <dd>
            <span *ngIf="capacityData.capacityHasRecordingService; else no"
              >Yes</span
            >
          </dd>
        </ng-container>
      </ng-container>

      <!-- Authorized data -->
      <ng-container *ngIf="currentRequest.authorizedData as authorizedData">
        <!-- PIN -->
        <ng-container *ngIf="authorizedData.pin as pin">
          <dt i18n="definition tag">PIN:</dt>
          <dd>{{ pin }}</dd>
        </ng-container>

        <!-- Admin PIN -->
        <ng-container *ngIf="authorizedData.adminPin as adminPin">
          <dt i18n="definition tag">Admin PIN:</dt>
          <dd>{{ adminPin }}</dd>
        </ng-container>

        <!-- User PIN -->
        <ng-container *ngIf="authorizedData.userPin as userPin">
          <dt i18n="definition tag">User PIN:</dt>
          <dd>{{ userPin }}</dd>
        </ng-container>

        <ng-container *ngIf="authorizedData.aliases">
          <dt i18n="definition tag">Connection methods:</dt>
          <dd>
            <dl>
              <ng-container *ngFor="let alias of authorizedData.aliases">
                <dt i18n="definition tag">
                  {{ getAliasDisplayType(alias.type) }}
                </dt>
                <dd>{{ alias.value }}</dd>
              </ng-container>
            </dl>
          </dd>
        </ng-container>
      </ng-container>
    </dl>
  </main>

  <aside class="reservation-detail__aside">
    <section *ngIf="reservationRequest.history">
      <h2 class="mat-primary-color" i18n="heading">History of modifications</h2>
      <app-data-table
        *ngIf="modificationHistoryDataSource as dataSource"
        [dataSource]="dataSource"
        [showCheckboxes]="false"
        [showDeleteButtons]="false"
      ></app-data-table>
    </section>
  </aside>
</div>

<ng-template #undefinedRoomName>
  <span class="grayed-text" i18n="definition data">Unnamed room</span>
</ng-template>

<ng-template #no>
  <span i18n>No</span>
</ng-template>
