/* Layout */
.reservation-detail {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  font-size: 1rem;

  main,
  aside {
    flex: 1;
  }
}

aside {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;

  button {
    width: fit-content;
  }
}

dl {
  font-size: 0.9rem;
}

/* Other */
.gray {
  color: gray;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
