<div class="reservation-detail">
  <main>
    <header>
      <h2 class="mat-primary-color">Detail</h2>
    </header>
    <dl class="definition-list--flex">
      <!-- Type -->
      <ng-container *ngIf="currentRequest.type as type">
        <dt>Type:</dt>
        <dd>{{ requestTypeMap.get(type) }}</dd>
      </ng-container>

      <!-- Parent request -->
      <ng-container *ngIf="currentRequest.parentRequestId">
        <dt>Event from request:</dt>
        <dd>
          <a
            [routerLink]="
              '/reservation-request/' + currentRequest.parentRequestId
            "
            >{{ currentRequest.parentRequestId }}</a
          >
        </dd>
      </ng-container>

      <!-- Time slot -->
      <ng-container *ngIf="currentRequest.slot as slot">
        <dt>
          {{
            (currentRequest.allocationState === AllocationState.ALLOCATED
              ? "Allocated"
              : "Requested") + " time slot:"
          }}
        </dt>
        <dd>
          {{
            (slot.start | date: "medium") + " - " + (slot.end | date: "medium")
          }}
        </dd>
      </ng-container>

      <!-- Description -->
      <ng-container *ngIf="currentRequest.description">
        <dt>Description:</dt>
        <dd>{{ currentRequest.description }}</dd>
      </ng-container>

      <!-- State -->
      <ng-container *ngIf="currentRequest.state as state">
        <dt>State:</dt>
        <dd>
          <app-state-chip
            *ngIf="getStateProps(state) as props"
            [state]="props.displayName"
            [color]="props.color"
          ></app-state-chip>
        </dd>
      </ng-container>

      <!-- Created at -->
      <ng-container *ngIf="currentRequest.createdAt as createdAt">
        <dt>Created at:</dt>
        <dd>{{ createdAt | date }}</dd>
      </ng-container>

      <ng-container
        *ngIf="
          currentRequest.notifyParticipants !== null &&
          currentRequest.notifyParticipants !== undefined
        "
      >
        <dt>Notify participants:</dt>
        <dd>{{ currentRequest.notifyParticipants ? "yes" : "no" }}</dd>
      </ng-container>

      <!-- Periodicity -->
      <ng-container
        *ngIf="
          isPeriodicityShown() &&
          currentRequest.roomCapacityData?.periodicity as periodicity
        "
      >
        <dt>Periodicity</dt>
        <dd>
          <span [ngSwitch]="periodicity.type">
            <span *ngSwitchCase="PeriodicityType.DAILY"> Daily </span>
            <span *ngSwitchCase="PeriodicityType.WEEKLY">
              {{ getWeeklyPeriodicityString(periodicity) }}
            </span>
            <span *ngSwitchCase="PeriodicityType.MONTHLY">
              {{ getMonthlyPeriodicityString(periodicity) }}
            </span>
            <span *ngSwitchDefault>None</span>
          </span>

          <span
            *ngIf="
              periodicity.periodicityEnd &&
              periodicity.type !== PeriodicityType.NONE
            "
          >
            <i class="gray">(until {{ periodicity.periodicityEnd | date }})</i>
          </span>
        </dd>
        <ng-container
          *ngIf="
            periodicity.excludeDates && periodicity.excludeDates.length !== 0
          "
        >
          <dt>Exclude dates:</dt>
          <dd>
            <span *ngFor="let date of periodicity.excludeDates; index as i">
              {{ date | date }}
              <br *ngIf="i !== periodicity.excludeDates.length - 1" />
            </span>
          </dd>
        </ng-container>
      </ng-container>

      <!-- Physical resource -->
      <ng-container
        *ngIf="
          currentRequest.type === ReservationType.PHYSICAL_RESOURCE &&
          currentRequest.physicalResourceData as physicalResData
        "
      >
        <!-- Resource name -->
        <ng-container *ngIf="physicalResData.resourceName as resourceName">
          <dt>Resource name:</dt>
          <dd>{{ resourceName }}</dd>
        </ng-container>

        <!-- Resource description -->
        <ng-container
          *ngIf="physicalResData.resourceDescription as description"
        >
          <dt>Resource description:</dt>
          <dd>
            {{ description }}
          </dd>
        </ng-container>
      </ng-container>

      <!-- Virtual room -->
      <ng-container *ngIf="currentRequest.virtualRoomData">
        <!-- Technology -->
        <ng-container
          *ngIf="currentRequest.virtualRoomData.technology as technology"
        >
          <dt>Technology</dt>
          <dd>{{ technologyMap.get(technology) ?? "Unknown" }}</dd>
        </ng-container>

        <!-- Room name -->
        <ng-container
          *ngIf="
            currentRequest?.virtualRoomData?.roomName &&
            currentRequest.type !== ReservationType.ROOM_CAPACITY
          "
        >
          <dt>Room name:</dt>
          <dd>{{ currentRequest.virtualRoomData.roomName }}</dd>
        </ng-container>
      </ng-container>

      <!-- Room capacity -->
      <ng-container
        *ngIf="
          currentRequest.type === ReservationType.ROOM_CAPACITY &&
          currentRequest.roomCapacityData as capacityData
        "
      >
        <!-- Reservation request ID -->
        <dt>For virtual room:</dt>
        <dd *ngIf="capacityData.roomReservationRequestId; else noResReqId">
          <a
            [routerLink]="
              '/reservation-request/' + capacityData.roomReservationRequestId
            "
            >{{ reservationRequest?.virtualRoomData?.roomName ?? "Room" }}</a
          >
        </dd>
        <ng-template #noResReqId>
          <dd>{{ capacityData.roomName }}</dd>
        </ng-template>

        <!-- Participant count -->
        <ng-container
          *ngIf="
            currentRequest.virtualRoomData?.technology !== Technology.FREEPBX &&
            capacityData.capacityParticipantCount as participantCount
          "
        >
          <dt>Number of participants:</dt>
          <dd>{{ participantCount }}</dd>
        </ng-container>

        <!-- Recourd -->
        <ng-container
          *ngIf="
            currentRequest.virtualRoomData?.technology !==
              Technology.ADOBE_CONNECT &&
            currentRequest.virtualRoomData?.technology !== Technology.FREEPBX
          "
        >
          <dt>Record:</dt>
          <dd>
            {{ capacityData.capacityHasRecordingService ? "yes" : "no" }}
          </dd>
        </ng-container>
      </ng-container>

      <!-- Authorized data -->
      <ng-container *ngIf="currentRequest.authorizedData as authorizedData">
        <!-- PIN -->
        <ng-container *ngIf="authorizedData.pin as pin">
          <dt>PIN:</dt>
          <dd>{{ pin }}</dd>
        </ng-container>

        <!-- Admin PIN -->
        <ng-container *ngIf="authorizedData.adminPin as adminPin">
          <dt>Admin PIN:</dt>
          <dd>{{ adminPin }}</dd>
        </ng-container>

        <!-- Guest PIN -->
        <ng-container *ngIf="authorizedData.guestPin as guestPin">
          <dt>Guest PIN:</dt>
          <dd>{{ guestPin }}</dd>
        </ng-container>

        <ng-container *ngIf="authorizedData.aliases">
          <dt>Connection methods:</dt>
          <dd>
            <dl>
              <ng-container *ngFor="let alias of authorizedData.aliases">
                <dt>{{ getAliasDisplayType(alias.type) }}</dt>
                <dd>{{ alias.value }}</dd>
              </ng-container>
            </dl>
          </dd>
        </ng-container>
      </ng-container>
    </dl>
  </main>
  <aside>
    <section *ngIf="reservationRequest.history">
      <h2 class="mat-primary-color">History of modifications</h2>
      <app-data-table
        *ngIf="modificationHistoryDataSource as dataSource"
        [dataSource]="dataSource"
        [showCheckboxes]="false"
        [showDeleteButtons]="false"
      ></app-data-table>
    </section>
  </aside>
</div>
