/* Layout */
.reservation-detail {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  main,
  aside {
    flex: 1;
  }
}

/* Detail */
dl {
  display: block;
  margin: 0;

  dt,
  dd {
    font-size: 14px;
    padding-bottom: 10px;
  }
  dt {
    font-weight: bold;
    color: rgb(90, 90, 90);
    float: left;
    clear: left;
  }
  dd {
    margin-left: 150px;
  }
}
