<header>
  <h1 i18n="heading">Add participant</h1>
</header>

<main>
  <form *ngIf="form" [formGroup]="form">
    <!-- Participant type -->
    <div class="participant-type-selection">
      <label i18n="label">Participant type:</label>
      <mat-radio-group
        aria-label="Select participant type"
        formControlName="participantType"
        color="primary">
        <mat-radio-button [value]="ParticipantType.USER" i18n="option"
          >With user account</mat-radio-button
        >
        <mat-radio-button [value]="ParticipantType.ANONYMOUS" i18n="option"
          >Without user account</mat-radio-button
        >
      </mat-radio-group>
    </div>

    <!-- User form -->
    <form
      *ngIf="
        form.get('participantType')!.value === ParticipantType.USER;
        else anonymousForm
      "
      formGroupName="userForm">
      <!-- User field -->
      <mat-form-field appearance="outline">
        <mat-label i18n="field label">User</mat-label>
        <mat-select formControlName="userId">
          <mat-option>
            <ngx-mat-select-search
              appUserSearch
              #userSearch="userSearch"></ngx-mat-select-search>
          </mat-option>
          <mat-option
            *ngFor="let opt of userSearch.filteredUsers | async"
            [value]="opt.id">
            {{ opt.user }}
          </mat-option>
        </mat-select>
        <mat-hint i18n="field hint">Type at least 2 characters</mat-hint>
        <mat-error
          *ngIf="getFormError(form!.get('userForm')!.get('userId')!) as error"
          >{{ error }}</mat-error
        >
      </mat-form-field>

      <!-- Role field -->
      <mat-form-field appearance="outline">
        <mat-label i18n="field label">Role</mat-label>
        <mat-select formControlName="role">
          <mat-option *ngFor="let role of participantRoles" [value]="role">{{
            role | titlecase
          }}</mat-option>
        </mat-select>
        <mat-error
          *ngIf="getFormError(form!.get('userForm')!.get('role')!) as error"
          >{{ error }}</mat-error
        >
      </mat-form-field>
    </form>

    <!-- Anonymous form -->
    <ng-template #anonymousForm>
      <form formGroupName="anonymousForm">
        <!-- Name field -->
        <mat-form-field appearance="outline">
          <mat-label i18n="field label">Name</mat-label>
          <input type="text" matInput formControlName="name" />
          <mat-error
            *ngIf="
              getFormError(form!.get('anonymousForm')!.get('name')!) as error
            "
            >{{ error }}</mat-error
          >
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label i18n="field label">E-mail</mat-label>
          <input type="text" matInput formControlName="email" />
          <mat-error
            *ngIf="
              getFormError(form!.get('anonymousForm')!.get('email')!) as error
            "
            >{{ error }}</mat-error
          >
        </mat-form-field>

        <!-- Role field -->
        <mat-form-field appearance="outline">
          <mat-label i18n="field label">Role</mat-label>
          <mat-select value="guest" [disabled]="true">
            <mat-option value="guest" i18n="role">Guest</mat-option>
          </mat-select>
        </mat-form-field>
      </form>
    </ng-template>

    <div class="buttons">
      <button
        mat-flat-button
        color="primary"
        i18n="button name"
        [disabled]="!isValid()"
        (click)="postParticipant()">
        Add participant
      </button>

      <ng-container *ngIf="posting$ | async; else cancelButton">
        <app-loading-text
          message="Creating participant..."
          i18n-message="loading text"></app-loading-text>
      </ng-container>

      <ng-template #cancelButton>
        <a mat-button [routerLink]="'../../'" i18n="button name">Cancel</a>
      </ng-template>
    </div>
  </form>
</main>
