.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 35em;
  margin-top: 3em;

  &__buttons {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
  }

  &__button {
    width: fit-content;
  }
}

.metadata {
  margin-top: 1em;
  background-color: var(--gray-800);
  border-radius: 5px;
  padding: 0.5em 1em;
  max-width: 35em;
}

@media only screen and (max-width: 375px) {
  .form__button {
    width: 100%;
  }
}
