@use "~@angular/material" as mat;
@include mat.core();

@import "./styles/res-container.scss";
@import "./styles/themes/shongo-light.theme.scss";
@import "./app/shared/directives/mat-table-responsive/mat-table-responsive.directive.scss";

html,
body {
  height: 100%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Material */
mat-toolbar.header-toolbar {
  padding: 0 !important;
}

.icon-s {
  transform: scale(0.9);
}
.icon-xs {
  transform: scale(0.8);
}
.icon-xxs {
  transform: scale(0.5);
}

.fx-center-hor,
.fx-center-vert,
.fx-center-both {
  display: flex;
}
.fx-center-hor {
  justify-content: center;
}
.fx-center-vert {
  align-items: center;
}
.fx-center-both {
  justify-content: center;
  align-items: center;
}

/* Mat tab content */
.tab-content {
  margin-top: 1.5rem;
  overflow-x: hidden;
  padding: 1rem 0.5rem;
}

/* Theme colors */
.mat-primary-color {
  $primary: map-get($shongo-frontend-theme, primary);
  color: map-get($primary, default);
}

/* List style */
dl {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  min-width: 21em;
  max-width: 31em;
  overflow: visible;
  font-size: 1em;
  margin: 0;

  dt,
  dd {
    font-size: 1em;
    padding-bottom: 0.7em;
  }
  dt {
    flex: 0 0 50%;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: bold;
    color: rgb(90, 90, 90);
  }
  dd {
    flex: 0 0 50%;
    margin-left: auto;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
