<div class="calendar-view-selection">
  <button
    mat-stroked-button
    aria-label="Select calendar view"
    [matMenuTriggerFor]="viewMenu"
  >
    {{ selectedView | titlecase }}&nbsp;<mat-icon>arrow_drop_down</mat-icon>
  </button>

  <mat-menu #viewMenu="matMenu">
    <button mat-menu-item (click)="onViewSelection(CalendarView.Day)">
      Day
    </button>
    <button mat-menu-item (click)="onViewSelection(CalendarView.Week)">
      Week
    </button>
    <button mat-menu-item (click)="onViewSelection(CalendarView.Month)">
      Month
    </button>
  </mat-menu>
</div>
